.u-full {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: calc(-50vw + 50%) !important;
  padding-left: 0;
  padding-right: 0;
  width: 100vw;

  @media #{$mq-lg} {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  &:not(.Gallery) + &:not(.Gallery),
  &:not(.Gallery) + a[name] + &:not(.Gallery) {
    margin-top: -2rem;

    @media #{$mq-lg} {
      margin-top: -3rem;
    }
  }

  &:first-child,
  a[name]:first-child + & {
    margin-top: 0;
  }

  // Phase 1 (Standard)
  html.fixed & {
    @media (max-width: $p1s-fixed-width) {
      min-width: $p1s-fixed-width;
      margin-left: -.625rem  !important;
    }

    @media #{$mq-not-lg} {
      margin-left: 0  !important;
    }
  }
}
