.u-full {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: calc(-50vw + 50%) !important;
  padding-left: 0;
  padding-right: 0;
  width: 100vw;

  @media #{$mq-lg} {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  & + &,
  & + a[name] + & {
    margin-top: -2rem;

    @media #{$mq-lg} {
      margin-top: -3rem;
    }
  }

  &:first-child,
  a[name]:first-child + & {
    margin-top: 0;
  }

  // Phase 1 (Standard)
  html.fixed & {
    @media (max-width: 1000px) {
      min-width: 1000px;
      margin-left: -10px  !important;
    }

    @media #{$mq-not-lg} {
      margin-left: 0  !important;
    }
  }
}
