[class*="u-pull"] {
  @media #{$mq-not-sm} {
    clear: both;
  }
}

.u-pull {
  @media #{$mq-not-sm} {
    width: 100%;
  }
}

.u-pull-in {
  @media #{$mq-md} {
    width: cells(8);
  }

  @media #{$mq-lg} {
    width: cells(6);
  }
}

.u-pull-out {
  @media #{$mq-lg} {
    width: cells(10);
  }
}

.u-pull-left {
  @media #{$mq-not-sm} {
    clear: left;
    float: left;
    margin-right: 2rem !important;
    width: cells(4);
  }

  @media #{$mq-md} {
    margin-left: cells(1)  !important;
  }
}

.u-pull-right {
  @media #{$mq-not-sm} {
    clear: right;
    float: right;
    margin-left: 2rem !important;
    width: cells(4);
  }

  @media #{$mq-md} {
    margin-right: cells(1)  !important;
  }
}
