[class*="u-richtext"] {
  > * {
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: $color-grey-900;
    font-family: $font-serif;

    @media #{$mq-md} {
      margin-bottom: 2rem;
    }

    @media #{$mq-lg} {
      margin-bottom: 2.25rem;
    }
  }

  > h1,
  > h2,
  > h3 {
    color: $color-black;
    font-family: $font-serif;
    font-weight: bold;
    line-height: 1.294117647;
    text-transform: none;
  }

  > h1 {
    font-size: 2.5rem;

    @media #{$mq-md} {
      font-size: 3.125rem;
    }

    @media #{$mq-lg} {
      font-size: 3.5rem;
    }
  }

  > h2 {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 32rem;
    font-size: 2.125rem;
    text-align: center;

    @media #{$mq-md} {
      font-size: 2.375rem;
    }

    @media #{$mq-lg} {
      font-size: 2.5rem;
    }
  }

  > h3,
  > h4,
  > h5,
  > h6 {
    font-family: $font-sans;
    font-weight: bold;
  }

  > h3 {
    font-size: 1.375rem;
  }

  > h4,
  > p,
  > ul li,
  > ol li,
  > blockquote {
    font-size: 1.125rem;
    line-height: 1.555555556;

    @media #{$mq-not-sm} {
      line-height: 1.666666667;
    }
  }

  > ul,
  > ol,
  > ul ul,
  > ol ul,
  > ul ol,
  > ol ol {
    margin-left: auto;
  }

  &:not(.u-layout) > ul,
  &:not(.u-layout) > ol {
    padding-left: 0;
  }

  > ul,
  > ul ul,
  > ol ul {
    list-style: none;
  }

  > ol,
  > ul ol,
  > ol ol {
    padding-left: calc(#{$layout-fluid-padding} + .85em);
    list-style-position: outside;

    @media #{$mq-lg} {
      padding-left: calc(#{$layout-fixed-padding} + .85em);
    }
  }

  > ul ul,
  > ol ul,
  > ul ol,
  > ol ol {
    margin-top: .5rem;
    margin-bottom: 0;
  }

  > ul ol,
  > ol ol {
    padding-left: .85em;
  }

  > ul li,
  > ol li {
    margin-bottom: .5rem;
  }

  > ul > li,
  > ul ul > li,
  > ol ul > li {
    padding-left: 1em;
    background-image: url(richtext/bullet.svg);
    background-position: 0 .65em;
    background-repeat: no-repeat;
  }

  > ol > li,
  > ul ol > li,
  > ol ol > li {
    padding-left: .25em;
    background: none;
  }

  a,
  a > * {
    color: $color-darkPrimary;
  }

  a:visited,
  a:visited > * {
    color: $color-darkSecondary;
  }

  > br {
    content: "";
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

[class*="u-richtext"] > [class*="u-richtext"],
[class*="u-pull"] > [class*="u-richtext"] {
  margin-top: .375rem;
  margin-bottom: .375rem;
  border-top: .0625rem solid $color-grey-400;
  border-bottom: .0625rem solid $color-grey-400;
  padding-top: 2rem;
  padding-bottom: .75rem;

  > * {
    margin-bottom: 1.25rem;

    @media #{$mq-md} {
      margin-bottom: 1.666666667rem;
    }

    @media #{$mq-lg} {
      margin-bottom: 1.875rem;
    }
  }

  > h2,
  > h3,
  > h4 {
    color: $color-grey-700;
  }

  > h2 {
    max-width: none;
    font-size: 1.375rem;
    font-family: $font-sans;
    text-align: left;
  }

  > h3 {
    font-size: 1.145833333rem;
  }

  > h4,
  > p,
  > ul li,
  > ol li,
  > blockquote {
    color: $color-grey-800;
    font-size: .9375rem;
  }

  > ul,
  > ol,
  > ul ul,
  > ol ul,
  > ul ol,
  > ol ol {
    padding-left: 0;
  }
}

.u-richtext-invert {
  > h1,
  > h2,
  > h3,
  > h4 {
    color: $color-white;
  }

  > h4,
  > p,
  > ul li,
  > ol li,
  > blockquote {
    color: $color-grey-50;
  }

  > ul > li,
  > ul ul > li,
  > ol ul > li {
    background-image: url(richtext/bullet-inverted.svg);
  }

  a,
  a > * {
    color: $color-lightPrimary;
  }

  a:visited,
  a:visited > * {
    color: $color-lightSecondary;
  }
}
