@import '../../constants';

[class*='u-richtext'] > .u-dropcap::first-letter {
  float: left;
  padding-top: $unit * 0.4;
  padding-right: $unit * 0.25;
  font-size: 3.46875rem;
  font-weight: bold;
  line-height: 0.78; // Gecko ignores this
  :where(.is-future) & {
    font-family: var(--od-font-stack-serif);
    padding-top: 6px;
    font-size: 3.45rem;
    margin-bottom: -0.1em;
  }

  @media #{$mq-gt-sm} {
    padding-top: $unit * 0.5;
    font-size: 3.625rem;
    line-height: 0.74; // Gecko ignores this
    :where(.is-future) & {
      padding-top: 6px;
      font-size: 3.45rem;
    }
  }
}

[class*='u-richtext'] > .u-dropcap.u-quote {
  text-indent: 0;

  &::first-letter {
    @media #{$mq-gt-sm} {
      margin-left: -0.4em;
    }
  }
}
