@import '../../../constants';

.u-dropcap::first-letter {
  float: left;
  padding-top: .4rem;
  padding-right: .25rem;
  font-size: 3.46875rem;
  font-weight: bold;
  line-height: .78; // Gecko ignores this

  @media #{$mq-not-sm} {
    padding-top: .5rem;
    font-size: 3.625rem;
    line-height: .74; // Gecko ignores this
  }
}

.u-dropcap.u-quote {
  text-indent: 0;

  &::first-letter {
    @media #{$mq-not-sm} {
      margin-left: -.4em;
    }
  }
}
