@import '../../../constants';

.Main > .u-dropcap::first-letter {
  float: left;
  padding-top: 0.4rem;
  padding-right: 0.25rem;
  font-size: 3.46875rem;
  font-weight: bold;
  line-height: 0.78; // Gecko ignores this

  @media #{$mq-gt-sm} {
    padding-top: 0.5rem;
    font-size: 3.625rem;
    line-height: 0.74; // Gecko ignores this
  }
}

.Main > .u-dropcap.u-quote {
  text-indent: 0;

  &::first-letter {
    @media #{$mq-gt-sm} {
      margin-left: -0.4em;
    }
  }
}
