@import '../../constants';

.u-full.u-full {
  --u-full-vertical-margin: #{$unit * 2};
  margin-top: var(--u-full-vertical-margin);
  margin-bottom: var(--u-full-vertical-margin);
  margin-left: calc(-50vw + (var(--scrollbar-width, 0px) / 2) + 50%) !important;
  padding-left: 0;
  padding-right: 0;
  width: calc(100vw - var(--scrollbar-width, 0px));

  @media #{$mq-gt-md} {
    --u-full-vertical-margin: #{$unit * 3};
  }

  @media #{$mq-lt-md} {
    margin-left: 0;
    width: 100%;
  }

  // Cold-opens
  &:first-child,
  [data-mount]:first-child + & {
    margin-top: 0;
  }
}

// Collapse margin between subsequent Backdrop, Block and Header
// components, even when separated by a mount point

$isFlush: '.u-full:is(.Backdrop, .Block, .Header)';

#{$isFlush} + #{$isFlush},
#{$isFlush} + [data-mount]:not([class]) + #{$isFlush} {
  margin-top: calc(var(--u-full-vertical-margin) * -1);
}

:where(.is-future) {
  .u-full.u-full {
    --u-full-vertical-margin: var(--od-space-component-margin);
  }

  .u-full:is(.Header) + #{$isFlush} {
    margin-top: calc(var(--od-space-header-margin) * -1);
  }
}
