@import '../../constants';

.u-layout {
  margin-left: auto;
  margin-right: auto;
  width: $layout-fluid;

  @media #{$mq-gt-md} {
    width: $layout-fixed;
  }

  :where(.is-future) & {
    @media #{$mq-gt-lg} {
      width: 1200px;
    }
  }
}

.u-layout > * {
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: $layout-fluid-padding;
  padding-right: $layout-fluid-padding;
  width: cells(12);

  @media #{$mq-md} {
    width: cells(10);
  }

  @media #{$mq-gt-md} {
    padding-left: $layout-fixed-padding;
    padding-right: $layout-fixed-padding;
    width: cells(8);
  }

  :where(.is-future) & {
    padding-left: var(--od-space-component-inline-margin);
    padding-right: var(--od-space-component-inline-margin);

    @media #{$mq-gt-lg} {
      width: calc(980px * 0.666);
    }
  }
}
