@import '../../../constants';

[class*='u-pull'] {
  @media #{$mq-gt-sm} {
    clear: both;
  }
}

.u-pull {
  @media #{$mq-gt-sm} {
    width: 100%;
  }
}

.u-pull-in {
  @media #{$mq-md} {
    width: cells(8);
  }

  @media #{$mq-gt-md} {
    width: cells(6);
  }
}

.u-pull-out {
  @media #{$mq-gt-md} {
    width: cells(10);
  }
}

.u-pull-left {
  @media #{$mq-gt-sm} {
    clear: left;
    float: left;
    margin-right: ($layout-fixed-padding * 3) !important; // *
    width: cells(4);
  }

  @media #{$mq-md} {
    margin-left: cells(1) !important;
    margin-right: $layout-fluid-padding !important;
  }
}

.u-pull-right {
  @media #{$mq-gt-sm} {
    clear: right;
    float: right;
    margin-left: ($layout-fixed-padding * 3) !important; // *
    width: cells(4);
  }

  @media #{$mq-md} {
    margin-left: $layout-fluid-padding !important;
    margin-right: cells(1) !important;
  }
}

// * The extra ($layout-fixed-padding * 2) means content won't align with the grid, but it now has better breathing space in relation to the floated content
