@import '../../../constants';

[class*='u-richtext'] {
  > * {
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: $color-grey-900;
    font-family: $font-serif;

    @media #{$mq-md} {
      margin-bottom: 2rem;
    }

    @media #{$mq-gt-md} {
      margin-bottom: 2.25rem;
    }
  }

  > h1,
  > h2,
  > h3 {
    color: $color-black;
    font-family: $font-serif;
    font-weight: bold;
    line-height: 1.294117647;
    text-transform: none;
  }

  > h1 {
    font-size: 2rem;
    letter-spacing: normal;

    @media #{$mq-md} {
      font-size: 2.25rem;
    }

    @media #{$mq-gt-md} {
      font-size: 3rem;
    }
  }

  > h2 {
    clear: both;
    margin-left: auto;
    margin-right: auto;
    max-width: 32rem;
    font-size: 1.875rem;
    text-align: center;

    @media #{$mq-gt-sm} {
      font-size: 2.25rem;
    }
  }

  > h3,
  > h4,
  > h5,
  > h6 {
    font-family: $font-sans;
    font-weight: bold;
  }

  > h3 {
    font-size: 1.375rem;
  }

  > h4,
  > p,
  > ul li,
  > ol li,
  > blockquote {
    font-size: 1.125rem;
    line-height: 1.555555556;

    @media #{$mq-gt-sm} {
      line-height: 1.666666667;
    }
  }

  > ul,
  > ol,
  > ul ul,
  > ol ul,
  > ul ol,
  > ol ol {
    margin-left: auto;
  }

  > ul,
  > ul ul,
  > ol ul {
    list-style: none;
  }

  > ol,
  > ul ol,
  > ol ol {
    padding-left: calc(#{$layout-fluid-padding} + 0.85em);
    list-style-position: outside;

    @media #{$mq-gt-md} {
      padding-left: calc(#{$layout-fixed-padding} + 0.85em);
    }
  }

  > ul ul,
  > ol ul,
  > ul ol,
  > ol ol {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  > ul ol,
  > ol ol {
    padding-left: 0.85em;
  }

  > ul li,
  > ol li {
    margin-bottom: 0.5rem;
    text-align: left;
  }

  > ul > li,
  > ul ul > li,
  > ol ul > li {
    padding-left: 1em;
    background-image: url(./bullet.svg);
    background-position: 0 0.65em;
    background-repeat: no-repeat;
  }

  > ol > li,
  > ul ol > li,
  > ol ol > li {
    padding-left: 0.25em;
    background: none;
  }

  > table {
    border-collapse: separate;
    border-spacing: 0;
    font-family: $font-sans;
    font-size: 1rem;

    td,
    th {
      padding: 0.625rem 0.75rem;
      text-align: left;
      vertical-align: top;
    }

    tr > * {
      border-bottom: 0.0625rem solid $color-grey-300-transparent-70;
    }

    th {
      background-color: $color-grey-300-transparent-15;
    }
  }

  a,
  a > * {
    color: $color-darkPrimary;
  }

  a:visited,
  a:visited > * {
    color: $color-darkSecondary;
  }

  > br:first-child,
  > br:first-child ~ br {
    display: none;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

[class*='u-richtext'] > [class*='u-richtext'],
[class*='u-pull'] > [class*='u-richtext'] {
  margin-top: 0.375rem;
  border-top: 0.125rem solid $color-grey-300-transparent-70;
  border-bottom: 0.125rem solid $color-grey-300-transparent-70;
  padding-top: 2rem;
  padding-bottom: 0.75rem;

  & + [class*='u-richtext'] {
    border-top: none;
    padding-top: 1rem;
  }

  > * {
    margin-bottom: 1.25rem;

    @media #{$mq-md} {
      margin-bottom: 1.666666667rem;
    }

    @media #{$mq-gt-md} {
      margin-bottom: 1.875rem;
    }
  }

  > h2 {
    max-width: none;
    font-size: 1.375rem;
    font-family: $font-sans;
    text-align: left;
  }

  > h3,
  > h4 {
    margin-bottom: 0.5rem;

    @media #{$mq-md} {
      margin-bottom: 0.666666667rem;
    }

    @media #{$mq-gt-md} {
      margin-bottom: 0.75rem;
    }
  }

  > h3 {
    font-size: 1.145833333rem;
  }

  > h4,
  > p,
  > ul li,
  > ol li,
  > blockquote {
    font-size: 0.9375rem;
  }

  > ul,
  > ol,
  > ul ul,
  > ol ul,
  > ul ol,
  > ol ol {
    padding-left: 0;
  }
}

[class*='u-pull'] > [class*='u-richtext'] {
  padding-left: 0;
  padding-right: 0;
}

.u-richtext-invert {
  > h1,
  > h2,
  > h3,
  > h4 {
    color: $color-white;
  }

  > h4,
  > p,
  > ul li,
  > ol li,
  > blockquote,
  > table {
    color: $color-lightBg;
  }

  > ul > li,
  > ul ul > li,
  > ol ul > li {
    background-image: url(./bullet-inverted.svg);
  }

  a,
  a > * {
    color: $color-lightPrimary;
  }

  a:visited,
  a:visited > * {
    color: $color-lightSecondary;
  }
}
