.Picture {
  display: block;
  position: relative;
  font-family: $font-sans;

  [class*="u-sizer"] {
    background-color: $color-grey-100;
  }

  picture.object-fit-polyfill {
    position: static !important;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    vertical-align: top;
    object-fit: cover;
    will-change: opacity;
  }

  img[loading] {
    opacity: 0;
  }

  img[loaded] {
    opacity: 1;
    animation: fadeIn .5s;
  }
}
