@import '../../../constants';

.Picture {
  display: block;
  position: relative;
  outline-offset: -3px;
  font-family: $font-sans;

  .u-full > & {
    overflow: hidden;
    height: 100%;
  }

  picture.object-fit-polyfill {
    position: static !important;
  }

  &:not([loading]):not([loaded]) {
    visibility: hidden;
  }

  img {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    vertical-align: top;
    object-fit: cover;
    will-change: opacity;
  }

  @media #{$mq-lt-lg} {
    &.is-contained img {
      object-fit: contain;
    }
  }

  &[loaded] img {
    opacity: 1;
    animation: fadeIn 0.5s;
  }
}
