@import '../../../constants';

.YouTubePlayer {
  position: relative;
  overflow: hidden;
  background-color: $color-darkBg;

  .u-full > & {
    height: 100%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  @media #{$mq-gt-md} {
    &:not(.is-contained) iframe {
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      min-width: 100%;
      max-width: none !important;
      min-height: 100%;
    }
  }

  .VideoControls {
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media #{$mq-lt-lg} {
    &.is-contained img {
      object-fit: contain;
    }
  }
}
