@import '../../../constants';

.YouTubePlayer {
  position: relative;
  overflow: hidden;
  background-color: $color-black;

  .u-full > & {
    height: 100%;
  }

  iframe {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-width: 100%;
    max-width: none !important;
    min-height: 100%;
    height: 100%;
    pointer-events: none;
  }

  .VideoControls {
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
