@import '../../constants';

.WhatNext {
  display: grid;
  grid-gap: $unit;
  grid-template-columns: repeat(1, 1fr);
  color: $color-black;

  @media (min-width: $unit * 32) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $unit * 48) {
    &[data-length*='gt2'] {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: $unit * 64) {
    &[data-length*='gt3'] {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .u-richtext-invert & {
    color: $color-white;
  }
}

.WhatNext > * {
  display: block;
  border: $unit * 0.0625 solid $color-grey-300-transparent-70;
  padding: $unit $unit * 1.1875 $unit * 0.75;

  &:not(:hover) {
    color: inherit !important;
  }

  &:hover,
  &:active {
    text-decoration: none !important;
  }

  & > h2 {
    margin: $unit * 0.625 0 0;
    color: inherit !important;
    font-family: $font-sans;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.294117647;
    text-transform: none;
    transition: color 0.25s;

    &:first-child {
      margin: $unit * -0.25 0 0;
    }

    & > span {
      white-space: nowrap;

      &::after {
        content: ' →';
        display: inline-block;
        font-size: 1rem;
        transition: transform 0.5s;
      }
    }
  }

  @media (hover: hover) {
    &:hover > h2 > span::after {
      transform: translate(0.25em, 0);
    }
  }
}
