@import '../../constants';

.VideoControls {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  [controls] + & {
    display: none;
  }

  & > :not(.VideoControls-playback) {
    opacity: 0;
    transition: opacity 0.5s 0.5s;
  }

  & > button {
    margin: 0;
    border: none;
    padding: 0;
    outline-offset: -3px;
  }

  &:hover > * {
    opacity: 1;
    transition: opacity 0.25s;
  }

  & > *:focus {
    opacity: 1;
    transition: none;
  }

  [paused] + & > :not(:focus):not(.VideoControls-playback) {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s;
  }
}

.is-future {
  .VideoControls-playback[aria-label^='Play video,'] {
    position: relative;

    .VideoPlayStart {
      .PlayIcon {
        background-image: url(./play.svg);
        height: 40px;
        width: 40px;
        transform: scale(0.7);
      }

      abbr {
        text-decoration: none;
      }

      display: flex;
      align-items: center;

      position: absolute;
      bottom: var(--nw-spacing-3);
      left: var(--nw-spacing-3);
      border-radius: $radius * 2;
      padding: var(--nw-spacing-1) var(--nw-spacing-5) var(--nw-spacing-1) var(--nw-spacing-3);

      background-color: $color-white;
      color: $color-black;

      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.05em;
    }

    &::before {
      display: none;
    }
  }

  .VideoControls-mute {
    margin: var(--nw-spacing-2);
  }

  .VideoControls-playback::before {
    border-radius: $radius * 1;
  }

  .VideoControls-mute,
  .VideoControls-timeRemaining,
  .VideoControls-progressBar,
  .VideoControls-progress {
    border-radius: $radius * 2 !important;
  }

  .VideoControls-timeRemaining {
    margin-bottom: $unit * 0.75;
  }

  .VideoControls-progressBar::-webkit-progress-bar {
    border-radius: $radius * 2;
  }
  .VideoControls-progressBar::-webkit-progress-value {
    border-radius: $radius * 2;
  }
  .VideoControls-progressBar::-moz-progress-bar {
    border-radius: $radius * 2;
  }
}

.VideoControls-playback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-tap-highlight-color: $color-black-transparent;

  // Hide once video has been started
  .VideoPlayStart {
    display: none;
  }

  &::before {
    content: '';
    position: absolute;
    background-image: url(./play.svg);
    transition: opacity 0.25s, transform 0.25s;
    will-change: opacity, transform;

    top: 50%;
    left: 50%;
    margin-top: $size-control * -0.75;
    margin-left: $size-control * -0.75;
    width: $size-control * 1.5;
    height: $size-control * 1.5;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $color-white-transparent-60;
    color: $color-white;
    filter: invert(1);

    @media #{$mq-md} {
      .u-pull &,
      .u-full & {
        margin-top: $size-control * -0.875;
        margin-left: $size-control * -0.875;
        width: $size-control * 1.75;
        height: $size-control * 1.75;
      }
    }

    @media #{$mq-gt-md} {
      .u-pull &,
      .u-full & {
        margin-top: $size-control * -1;
        margin-left: $size-control * -1;
        width: $size-control * 2;
        height: $size-control * 2;
      }
    }
  }

  :not([paused]) + * > &::before {
    opacity: 0;
    transform: scale(1.5);
    background-image: url(./pause.svg);
  }

  [ended] + * > &::before {
    background-image: url(./replay.svg);
  }

  [ended]:not([paused]) + * > &::before {
    opacity: 0;
  }
}

.VideoControls-mute {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: $size-control;
  height: $size-control;
  background-color: $color-black-transparent-60;
  background-image: url(./muted.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;

  .has-audio + .VideoControls & {
    display: block;
  }

  &:focus,
  [muted] + .VideoControls & {
    opacity: 1;
  }

  [muted] + .VideoControls & {
    background-image: url(./mute.svg);
  }
}

.VideoControls-progress {
  flex: 1 1 auto;
  z-index: 1;
  margin-left: $unit * 1.25;
  margin-bottom: $unit * 0.625;
  padding: $unit * 0.625 0;
  font-size: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: $color-black-transparent;
}

.VideoControls-progressBar {
  appearance: none;
  margin: 0;
  border: none;
  padding: $unit * 0.125;
  width: 100%;
  height: $unit * 0.75;
  background-color: $color-black-transparent-60;
  color: $color-white-transparent-60;

  &::-webkit-progress-bar {
    background: none;
  }

  &::-webkit-progress-value {
    background: $color-white-transparent-60;
  }

  &::-moz-progress-bar {
    background: $color-white-transparent-60;
  }
}

.VideoControls-timeRemaining {
  margin-left: $size-control-margin;
  padding: $unit * 0.25;
  min-width: $unit * 3.75;
  height: $unit * 2;
  background-color: $color-black-transparent-60;
  color: $color-white;
  font-family: var(--od-font-stack-sans);
  font-size: 0.875rem;
  line-height: 1.75;
  text-align: center;
  letter-spacing: 0.05em;
}
