.Header {
  position: relative;
  margin-bottom: 2rem;
  line-height: 1.5;

  @media #{$mq-not-sm} {
    font-size: 1.25rem;
  }

  @media #{$mq-lg} {
    margin-bottom: 3rem;
  }

  &.is-dark,
  &.is-layered {
    background-color: $color-black;
  }

  &.is-layered {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-top: 16rem;

    @media #{$mq-md} {
      padding-top: 22rem;
      min-height: 100vw;
    }

    @media #{$mq-lg} {
      padding-top: 28rem;
      min-height: 56.25vw;
    }
  }

  &.is-dark > *,
  &.is-layered > * {
    color: $color-lighterGrey;
  }

  &.is-dark a,
  &.is-layered a,
  &.is-dark a > *
  &.is-layered a > * {
    color: $color-lightPrimary;
  }

  &.is-dark a:visited,
  &.is-layered a:visited,
  &.is-dark a:visited > *
  &.is-layered a:visited > * {
    color: $color-tertiary;
  }
}

.Header-media {
  overflow: hidden;
  position: relative;
  background-color: $color-black;

  .is-layered > & {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.25rem;
    background-image: $gradient-vertical;
  }

  img {
    width: 100%;
    height: auto;
    vertical-align: top;

    .is-layered & {
      overflow: hidden;
      object-fit: cover; font-family: 'object-fit: cover;';
      height: 100%;
    }
  }
}

.Header-content {
  margin: 0 auto;
  padding: 20px 0;
  width: calc(#{cells(12)} - #{$layout-fluid-gutter});
  text-align: center;

  @media #{$mq-md} {
    width: calc(#{cells(10)} - #{$layout-fluid-gutter});
  }

  @media #{$mq-lg} {
    width: $layout-fixed - $layout-fixed-gutter;
  }

  .is-layered & {
    position: relative;
    z-index: 1;
    background-image: $gradient-vertical-content;
  }
}


.Header-content > * {
  padding: 0 calc(#{cells(1, 10)});

  @media #{$mq-lg} {
    padding: 0 calc(#{cells(1, 10)} - #{$layout-fixed-padding});
  }
}

.Header-content > h1 {
  position: relative;
  margin: 0 auto;

  .is-layered &,
  .is-dark & {
    color: $color-white;
  }

  &::after {
    content: "";
    display: block;
    margin: 1.25rem auto;
    width: 55%;
    max-width: 18rem;
    height: 1px;
    background-color: $color-black;

    .is-layered &,
    .is-dark & {
      background-color: $color-white;
    }
  }
}

.Header-byline,
.Header-infoSource,
.Header-updated,
.Header-published {
  font-family: $font-sans;
}

.Header-byline,
.Header-byline + *,
.Header-infoSource,
.Header-infoSource + * {
  margin-top: -1rem;
}

.Header-byline,
.Header-infoSource {
  font-size: .9375rem;
}

.Header-byline > em:first-child {
  text-transform: lowercase;
}

// .Header-infoSource--<slug>,
.Header-infoSource--four-corners {
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.Header-infoSource--four-corners {
  background-image: url(info-sources/four-corners.png);
}

// .Header-infoSource--<slug> a,
.Header-infoSource--four-corners a {
  display: none;
}

.Header-updated,
.Header-published {
  margin-bottom: 0;
  font-size: .75rem;
  color: $color-darkGrey;

  .is-layered &,
  .is-dark & {
    color: $color-grey;
  }
}
