.Header {
  overflow: hidden;
  position: relative;
  line-height: 1.5;

  @media #{$mq-not-sm} {
    font-size: 1.25rem;
  }

  &.is-dark,
  &.is-layered {
    background-color: $color-black;
  }

  &.is-layered {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-height: calc(100vh - #{$abc-nav-height + $size-bar});
  }
}

.Header-media {
  overflow: hidden;
  position: relative;
  background-color: $color-black;

  .is-layered > & {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > * {
      height: 100%;
    }

    .UnpublishedVideoPlaceholder p {
      margin-bottom: auto;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.25rem;
    background-image: $gradient-vertical-0-0-100-60;
  }
}

.Header-content {
  position: relative;
  margin-left: $layout-fluid-padding;
  margin-right: $layout-fluid-padding;
  padding: 1.25rem 0;
  text-align: center;

  @media #{$mq-md} {
    margin-left: calc(#{cells(1)} + #{$layout-fluid-padding});
    margin-right: calc(#{cells(1)} + #{$layout-fluid-padding});
  }

  @media #{$mq-lg} {
    margin-left: auto;
    margin-right: auto;
    width: $layout-fixed - $layout-fixed-gutter;
  }

  .is-layered > & {
    margin-top: 16rem;
    background-image: $gradient-vertical-0-45-100-75;

    @media #{$mq-md} {
      margin-top: 22rem;
    }

    @media #{$mq-lg} {
      margin-top: 28rem;
    }
  }
}

.Header-content > * {
  padding-left: cells(1);
  padding-right: cells(1);

  @media #{$mq-md} {
    padding-left: cells(1, 10);
    padding-right: cells(1, 10);
  }

  @media #{$mq-lg} {
    padding-left: calc(#{cells(1)} + #{$layout-fixed-padding});
    padding-right: calc(#{cells(1)} + #{$layout-fixed-padding});
  }
}

.Header-content > h1 {
  @media #{$mq-sm} {
    margin-left: -$layout-fluid-padding;
    margin-right: -$layout-fluid-padding;
  }

  &::after {
    content: "";
    display: block;
    margin: 1.25rem auto;
    width: 9rem;
    height: .125rem;
    background-color: $color-grey-300;

    .is-layered &,
    .is-dark & {
      background-color: $color-grey-600;
    }

    @media #{$mq-not-sm} {
      width: 18rem;
    }
  }
}

.Header-content > h2 {
  max-width: none;
}

.Header-miscEl,
.Header-byline {
  .Header > .Header-content > & {
    font-size: 1.125rem;

    @media #{$mq-not-sm} {
      font-size: 1.25rem;
    }
  }
}

.Header-byline,
.Header-infoSource,
.Header-updated,
.Header-published {
  font-family: $font-sans;
}

.Header-byline,
.Header-byline + *,
.Header-infoSource,
.Header-infoSource + * {
  margin-top: -.5rem;
}

.Header .Header-content .Header-byline,
.Header .Header-content .Header-infoSource {
  font-size: .9375rem;
}

.Header-byline > em {
  text-transform: lowercase;
}

.Header-byline > em + a {
  margin-left: .1em;
}

// .Header-infoSource--<slug>,
.Header-infoSource--730,
.Header-infoSource--four-corners {
  height: 3.125rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

.Header-infoSource--730 {
  background-image: url(info-sources/730.png);
}

.Header-infoSource--four-corners {
  background-image: url(info-sources/four-corners.png);
}

// .Header-infoSource--<slug> a,
.Header-infoSource--730 a,
.Header-infoSource--four-corners a {
  display: none;
}

.Header .Header-content .Header-updated,
.Header .Header-content .Header-published {
  margin-bottom: 0;
}

.Header-updated,
.Header-published {
  font-size: .75rem;
  color: $color-grey-600;

  .is-layered &,
  .is-dark & {
    color: $color-grey-500;
  }
}
