@import '../../../constants';
@import '../Main/variables.scss';
@import './variables.scss';

$abreastChildSpacing: 2.5rem;

.Header {
  --Header-contentPeek: #{$var--Header-contentPeek};
  overflow: hidden;
  position: relative;
  line-height: 1.5;

  @media #{$mq-gt-sm} {
    font-size: 1.25rem;
  }

  :root.is-dark-mode &:not(.is-dark) {
    background-color: $color-lightBg;
  }

  :root:not(.is-dark-mode) &.is-dark {
    background-color: $color-darkBg;
  }

  &.is-layered {
    display: flex;
    flex-direction: column-reverse;
    min-height: calc(100vh - var(--Main-offsetTop));

    [ie11] & {
      min-height: calc(100vh - #{$var--Main-offsetTop});
    }
  }

  &.is-floating {
    z-index: 2;
    margin-bottom: calc(-100vh + var(--Main-offsetTop)) !important;
    background-color: transparent !important;

    [ie11] & {
      margin-bottom: calc(-100vh + #{$var--Main-offsetTop}) !important;
    }
  }

  @media #{$mq-gt-md} {
    &.is-abreast {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;

      > * {
        margin: $abreastChildSpacing;
      }
    }
  }
}

.Header-media {
  overflow: hidden;
  position: relative;
  background-color: $color-darkBg;

  .is-pale > & {
    background-color: $color-lightBg;
  }

  .is-abreast > & {
    background-color: transparent;
  }

  :not(.is-layered) > & {
    max-height: calc(100vh - var(--Main-offsetTop) - var(--Header-contentPeek));

    [ie11] & {
      max-height: calc(100vh - #{$var--Main-offsetTop + $var--Header-contentPeek});
    }
  }

  .is-layered > & {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > * {
      height: 100%;
    }
  }

  .is-floating > & {
    display: none;
  }

  & > .html-fragment {
    margin: 0;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6.25rem;
    background-image: $gradient-black-vertical-0-0-100-60;
  }

  .is-pale > &::after {
    background-image: $gradient-white-vertical-0-0-100-60;
  }

  @media #{$mq-gt-md} {
    .is-abreast > & {
      flex-grow: 1;
      max-height: calc(100vh - var(--Main-offsetTop) - var(--Header-contentPeek) - #{$abreastChildSpacing * 2});
      // Enforce 3x4 aspect ratio
      max-width: calc(75vh - var(--Main-offsetTop) - var(--Header-contentPeek) - #{$abreastChildSpacing * 2});

      [ie11] & {
        max-height: calc(100vh - #{$var--Main-offsetTop + $var--Header-contentPeek + $abreastChildSpacing * 2});
        max-width: calc(75vh - #{$var--Main-offsetTop + $var--Header-contentPeek + $abreastChildSpacing * 2});
      }

      &::after {
        content: none;
      }
    }
  }

  @media #{$mq-xl} {
    .is-abreast > & {
      flex-grow: 0;
      // Enforce 1x1 aspect ratio
      width: calc(100vh - var(--Main-offsetTop) - var(--Header-contentPeek) - #{$abreastChildSpacing * 2});
      max-width: none;

      [ie11] & {
        width: calc(100vh - #{$var--Main-offsetTop + $var--Header-contentPeek + $abreastChildSpacing * 2});
      }
    }
  }

  & > .ScrollHint {
    position: absolute;
  }
}

/* In Firefox, parallax headers aren't clipped properly */
@supports (-moz-appearance: meterbar) {
  :not(.is-layered) > .Header-media [data-component='OdysseyParallax_App'] > * {
    clip: rect(0, auto, calc(100vh - var(--Main-offsetTop) - var(--Header-contentPeek)), 0);
  }
}

.Header-content {
  position: relative;
  margin-left: $layout-fluid-padding;
  margin-right: $layout-fluid-padding;
  padding: 1.25rem 0;
  text-align: center;

  @media #{$mq-md} {
    margin-left: calc(#{cells(1)} + #{$layout-fluid-padding});
    margin-right: calc(#{cells(1)} + #{$layout-fluid-padding});
  }

  @media #{$mq-gt-md} {
    margin-left: auto;
    margin-right: auto;
    width: $layout-fixed - $layout-fixed-gutter;
  }

  @media #{$mq-gt-md} {
    .is-abreast > & {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      align-self: flex-end;
      flex-grow: 0;
      width: 25rem;

      & > * {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 100%;
      }

      & > h1 {
        text-align: left;
      }
    }
  }

  .is-layered > & {
    background-image: $gradient-black-vertical-0-45-100-75;
  }

  .is-floating > & {
    z-index: 1;
  }
}

.Header-content > * {
  padding-left: cells(1);
  padding-right: cells(1);

  @media #{$mq-md} {
    padding-left: cells(1, 10);
    padding-right: cells(1, 10);
  }

  @media #{$mq-gt-md} {
    padding-left: calc(#{cells(1)} + #{$layout-fixed-padding});
    padding-right: calc(#{cells(1)} + #{$layout-fixed-padding});
  }
}

.Header-content > h1 {
  @media #{$mq-sm} {
    margin-left: -$layout-fluid-padding;
    margin-right: -$layout-fluid-padding;
  }

  > small {
    display: block;
    color: #80999d;
    font-family: $font-sans;
    font-size: 0.5em;
    text-transform: uppercase;

    .is-dark & {
      color: #8ab3bd;
    }

    .is-layered & {
      color: #e9f4f5;
    }
  }

  &::after {
    content: '';
    transform: translate(0, 100%);
    display: block;
    margin: 1.125rem auto;
    width: 9rem;
    height: 0.125rem;
    background-color: $color-grey-300-transparent-70;

    @media #{$mq-gt-sm} {
      width: 18rem;
    }
  }

  @media #{$mq-gt-md} {
    .is-abreast &::after {
      margin-left: 0;
    }
  }
}

.Header-content > h2 {
  max-width: none;
}

.Header-miscEl,
.Header-byline {
  .Header > .Header-content > & {
    font-size: 1.125rem;

    @media #{$mq-gt-sm} {
      font-size: 1.25rem;
    }
  }
}

ul.Header-miscEl > li {
  font-family: $font-sans;
  font-size: 1rem;
}

.Header-byline,
.Header-infoSource,
.Header-updated,
.Header-published {
  font-family: $font-sans;
}

.Header-byline,
.Header-byline + *,
.Header-infoSource,
.Header-infoSource + * {
  margin-top: -0.5rem;
}

.Header .Header-content .Header-byline,
.Header .Header-content .Header-infoSource {
  font-size: 0.9375rem;
}

.Header-byline > em {
  text-transform: lowercase;
}

.Header-byline > em + a {
  margin-left: 0.1em;
}

.Header-infoSource.has-logo {
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  text-align: left;
  text-indent: -100%;
}

.Header-infoSource.has-logo a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Header .Header-content .Header-updated,
.Header .Header-content .Header-published {
  margin-bottom: 0;
}

.Header-updated,
.Header-published {
  font-size: 0.75rem;
  color: $color-grey-500;

  .is-dark & {
    color: $color-grey-300;
  }
}

.is-abreast .Header-content > h1 ~ * {
  text-align: left;
}
