@import '../../../constants';

.Sizer {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -1;
  min-height: 100%;
  background-image: var(--placeholder-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: cover;

  .is-contained > & {
    opacity: 0.5;
  }

  .Picture & {
    background-color: $color-grey-500-transparent-65;

    .Header.is-dark &,
    .Header.is-layered &,
    .Block &,
    .MasterGallery & {
      background-color: $color-darkBg;
    }
  }

  @media #{$mq-sm} {
    &.sm-2x1 {
      padding-top: 50%;
    }

    &.sm-16x9 {
      padding-top: 56.25%;
    }

    &.sm-3x2 {
      padding-top: 66.6666667%;
    }

    &.sm-4x3 {
      padding-top: 75%;
    }

    &.sm-1x1 {
      padding-top: 100%;
    }

    &.sm-3x4 {
      padding-top: 133.3333333%;
    }

    &.sm-2x3 {
      padding-top: 150%;
    }

    &.sm-9x16 {
      padding-top: 177.7777778%;
    }

    &.sm-1x2 {
      padding-top: 200%;
    }
  }

  @media #{$mq-md} {
    &.md-2x1 {
      padding-top: 50%;
    }

    &.md-16x9 {
      padding-top: 56.25%;
    }

    &.md-3x2 {
      padding-top: 66.6666667%;
    }

    &.md-4x3 {
      padding-top: 75%;
    }

    &.md-1x1 {
      padding-top: 100%;
    }

    &.md-3x4 {
      padding-top: 133.3333333%;
    }

    &.md-2x3 {
      padding-top: 150%;
    }

    &.md-9x16 {
      padding-top: 177.7777778%;
    }

    &.md-1x2 {
      padding-top: 200%;
    }
  }

  @media #{$mq-lg}, #{$mq-landscape} and #{$mq-lt-lg} {
    &.lg-2x1 {
      padding-top: 50%;
    }

    &.lg-16x9 {
      padding-top: 56.25%;
    }

    &.lg-3x2 {
      padding-top: 66.6666667%;
    }

    &.lg-4x3 {
      padding-top: 75%;
    }

    &.lg-1x1 {
      padding-top: 100%;
    }

    &.lg-3x4 {
      padding-top: 133.3333333%;
    }

    &.lg-2x3 {
      padding-top: 150%;
    }

    &.lg-9x16 {
      padding-top: 177.7777778%;
    }

    &.lg-1x2 {
      padding-top: 200%;
    }
  }

  @media #{$mq-xl} {
    &.xl-2x1 {
      padding-top: 50%;
    }

    &.xl-16x9 {
      padding-top: 56.25%;
    }

    &.xl-3x2 {
      padding-top: 66.6666667%;
    }

    &.xl-4x3 {
      padding-top: 75%;
    }

    &.xl-1x1 {
      padding-top: 100%;
    }

    &.xl-3x4 {
      padding-top: 133.3333333%;
    }

    &.xl-2x3 {
      padding-top: 150%;
    }

    &.xl-9x16 {
      padding-top: 177.7777778%;
    }

    &.xl-1x2 {
      padding-top: 200%;
    }
  }
}
