.Cover {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  margin-top: 0;
  line-height: 1.5;

  @media #{$mq-landscape} and #{$mq-not-lg}, #{$mq-lg} {
    min-height: 56.25vw;

    &.is-richtext {
      min-height: 100vh;
    } 
  }

  &.is-heading,
  &.is-richtext {
    background-color: $color-black;
  }

  &.is-richtext {
    justify-content: center;
  }
}

.Cover-media {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.is-fixed {
    clip: rect(0, auto, auto, 0);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);

    & > * {
      position: fixed;
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &.is-beyond {
    position: absolute;
    top: auto;
    bottom: 0;
  }

  .is-richtext & {
    max-height: 100vh;

    &.is-fixed {
      max-height: none;
    }
  }

  .is-caption &,
  .is-heading & {
    position: static;
    height: auto;
  }

  .is-richtext & *::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black-transparent-40;
  }

  @media #{$mq-lg} {
    .is-left &::after,
    .is-right &::after {
      content: "";
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: $gradient-horizontal-45-40-65-0;
    }

    .is-right &::after {
      transform: scaleX(-1);
    }

    .is-left & *::after,
    .is-right & *::after {
      background-color: transparent;
      background-image: $gradient-vertical-50-0-100-50;
    }
  }

  .is-heading &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: $gradient-vertical-40-0-80-60;
  }

  > * {
    height: 100%;
  }

  video {
    z-index: -1;
  }
}

.Cover-content {
  position: relative;
  z-index: 1;

  .is-richtext > & {
    padding-top: 5rem;
    padding-bottom: 2.75rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
      width: calc(#{cells(10)} + 0.75rem);
      height: 100%;
      background-color: $color-black-transparent-10;

      @media #{$mq-md} {
        width: calc(#{cells(10)} + 1.75rem);
      }

      @media #{$mq-lg} {
        width: calc(#{cells(8)} + 2rem);
      }
    }

    & > * {
      @media #{$mq-sm} {
        width: cells(10);
      }
    }

    &.is-piecemeal {
      margin-top: 50vh;
      margin-bottom: 50vh;
      padding-top: 1.5rem;
      padding-bottom: 0;

      @media #{$mq-lg} {
        padding-top: 2.25rem;
      }

      &:nth-child(2) {
        margin-top: 100vh;
      }

      &:last-child {
        margin-bottom: 100vh;
      }
    }

    & [class*="u-pull"] {
      float: none;
      margin-left: auto;
      margin-right: auto;
      width: cells(10);

      @media #{$mq-lg} {
        width: cells(8);
      }
    }

  }

  @media #{$mq-lg} {
    .is-richtext.is-left > &,
    .is-richtext.is-right > & {
      width: 792px;
    }

    .is-richtext.is-left > & {
      margin-left: calc(30% - 396px);
    }
    .is-richtext.is-right > & {
      margin-right: calc(30% - 396px);
    }
  }

  .is-heading > & {
    position: absolute;
    bottom: 0;
    max-width: 100%;
  }

  .is-heading > & {
    width: 100%;
  }
}

.Cover-content > h2 {
  .is-heading & {
    margin-top: 3rem;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-left: auto;
    font-family: $font-serif;
    font-size: 2rem;
    text-align: center;

    @media #{$mq-not-sm} {
      font-size: 3rem;
    }

    @media #{$mq-md} {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }

    @media #{$mq-lg} {
      margin-top: 7rem;
      margin-bottom: 7rem;
    }
  }
}
