@import '../../../constants';
@import '../Main/variables.scss';

$offsetBottom: 3rem;

@keyframes ScrollHintBounce {
  from {
    transform: translate(-50%, -100%);
  }
  to {
    transform: translate(-50%, 0);
  }
}

.ScrollHint {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 3rem;
  transition: opacity 0.5s;
  cursor: pointer;

  &.leaving {
    opacity: 0;
    pointer-events: none;
  }

  &::before {
    content: '';
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.75rem;
    height: 1.5rem;
    background-image: url(./arrow.svg);
    background-repeat: no-repeat;
    animation: ScrollHintBounce 1s linear alternate infinite;
  }
}
