@use '../../../constants' as *;

.FormatCredit--legacy {
  color: $color-black-transparent-75;

  // Avoid inherited paragraph styles
  .FormatCredit__wrapper {
    font-family: var(--od-font-stack-sans);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.555555556;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
  }

  .u-richtext-invert & {
    color: $color-white-transparent-75;
  }

  .FormatCredit > * {
    color: inherit;
  }

  & a {
    white-space: nowrap;
  }
}
