@import '../../../constants';

.FormatCredit {
  color: $color-black-transparent-75;
  font-family: $font-sans;
  font-size: 0.8125rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.0625em;

  .u-richtext-invert & {
    color: $color-white-transparent-75;
  }

  .FormatCredit > * {
    color: inherit;
  }
}
