.u-layout {
  margin-left: auto;
  margin-right: auto;
  width: $layout-fluid;

  @media #{$mq-lg} {
    width: $layout-fixed;

    .is-debug &:hover {
      background: transparent url(https://cldup.com/JZWt8q4zFA-3000x3000.png) repeat -1px 0;
    }
  }
}

.u-layout > * {
  margin-left: auto;
  margin-right: auto;
  padding-left: $layout-fluid-padding;
  padding-right: $layout-fluid-padding;
  width: cells(12);

  @media #{$mq-md} {
    width: cells(10);
  }

  @media #{$mq-lg} {
    padding-left: $layout-fixed-padding;
    padding-right: $layout-fixed-padding;
    width: cells(8);
  }
}
