.Series {
  display: flex;
  clear: both;
  flex-wrap: wrap;
  margin-left: -.5rem; 
  margin-right: -.5rem;
  font-family: $font-sans;
}

.Series > *,
.Series::after {
  flex: 1 0 17.5rem;
  margin: 0 .5rem;
  max-width: calc(100% - 1rem);
}

.Series > * {
  padding: .375rem .75rem;
  font-size: .9375rem;
  line-height: 1.4;

  &[aria-current]:hover {
    text-decoration: none;
  }

  &::before,
  &::after,
  label {
    display: block;
    line-height: 1;
    text-transform: uppercase;
  }

  label {
    margin-top: .1875rem;
    margin-bottom: .125rem;
    font-size: .8125rem;
    font-weight: bold;
    cursor: inherit;
  }

  label,
  &:visited label {
    color: $color-grey-600;
  }

  span {
    display: block;
  }

  &[aria-current="false"]:hover span {
    text-decoration: underline;
  }

  &[aria-current="page"] {
    position: relative;
    background-color: $color-grey-100;
    font-weight: bold;
    cursor: default;

    span,
    &:visited span {
      color: $color-black;
    }

    &::before,
    &::after {
      content: "Now reading";
      font-size: .75rem;
      font-weight: normal;
    }

    &::before {
      float: right;
      visibility: hidden;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      padding: .1875rem .25rem .125rem;
      background-color: $color-tertiary;
      color: $color-white;
    }
  }
}

.Series.has-m2r1::after {
  content: "";
}

@media (min-width: 56.375rem) { 
  .u-pull {
    .Series.has-m2r1::after {
      content: none;
    }

    .Series[class*="has-m3r"]::after {
      content: "";
    }

    .Series.has-m3r1::after {
      flex: 2 0 36rem;
    }
  }
}
