@use '../../constants' as *;

:has(> .Series) {
  container-type: inline-size;
  > h1,
  > h2,
  > h3,
  > h4 {
    font-family: var(--od-font-stack-serif);
    font-size: $unit * 1.25;
    color: var(--od-colour-theme-text-accent);
  }
}

.Series {
  display: grid;
  gap: $unit; // TODO make this a variable
  grid-template-columns: 1fr;
  font-family: var(--od-font-stack-serif);
  margin-bottom: 0 !important;
  @container (min-width: 30em) {
    // TODO: figure out the right min-width
    grid-template-columns: 1fr 1fr;
  }

  > a:any-link,
  > div {
    display: grid;
    gap: calc($unit / 3) $unit;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    align-items: center;

    > label {
      grid-row: 1/2;
      grid-column: 1/3;
      font-family: var(--od-font-stack-sans);
      font-weight: 700;
      font-size: $unit * 0.875;
      color: var(--od-colour-text-secondary);
      text-transform: none;
    }

    > img {
      width: $unit * 7.9375; // 127px wide, 3:2
      height: $unit * 5.2916666667;
      border-radius: 6px;
      object-fit: cover;
      align-self: start;
    }
  }

  > a:any-link,
  > a:any-link > *,
  > div,
  > div > * {
    color: var(--od-colour-text-primary);
    font-weight: 600;
    text-decoration: none;
  }

  > a:any-link,
  > a:any-link > * {
    cursor: pointer;
  }

  > a:hover > span {
    text-decoration: underline;
  }

  > [aria-current='page'] {
    span {
      border-bottom: 4px solid var(--od-colour-theme-text-tag-opacity-40);
    }
  }
}
