@import '../../../constants';

.Series {
  display: flex;
  clear: both;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  font-family: $font-sans;

  .u-richtext-invert & {
    color: $color-white;
  }
}

.Series > *,
.Series::after {
  flex: 1 0 17.5rem;
  margin: 0 0.5rem;
  max-width: calc(100% - 1rem);
}

.Series > * {
  border: 0.0625rem solid transparent;
  padding: 0.5625rem;
  font-size: 0.875rem;
  line-height: 1.5;

  &[aria-current]:hover {
    text-decoration: none;
  }

  & > img {
    float: left;
    margin-right: 0.75rem;

    width: 7.9375rem; // 127px wide, 3:2
    height: 5.2916666667rem;
    object-fit: cover;
  }

  & > label,
  & > span {
    transform: translate(0, -0.0625rem);
  }

  label {
    display: block;
    font-size: 0.8125rem;
    text-transform: uppercase;
    cursor: inherit;

    .u-richtext > & {
      color: $color-grey-500;
    }
  }

  span {
    display: block;
  }

  &[href][aria-current='false'] {
    .u-richtext > & label,
    .u-richtext > &:visited label {
      color: $color-grey-500;
    }

    .u-richtext-invert > & label,
    .u-richtext-invert > &:visited label,
    .u-richtext-invert > & span,
    .u-richtext-invert > &:visited span {
      color: $color-white;
    }

    &:hover span {
      text-decoration: underline;
    }
  }

  &:not([href])[aria-current='false'] {
    opacity: 0.5;
  }

  &[aria-current='page'] {
    position: relative;
    border-color: $color-grey-300-transparent-70;

    &::after,
    & span > i {
      font-size: 0.75rem;
      font-weight: bold;
      line-height: 0.9;
      text-transform: uppercase;
      white-space: nowrap;
    }

    &::after {
      content: 'now reading';
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0.125rem 0.125rem 0.0625rem 0.25rem;
      background-color: $color-grey-300-transparent-70;
      color: $color-black;

      .u-richtext-invert & {
        color: var(--bg, #{$color-black});
      }
    }

    & span > i {
      float: right;
      visibility: hidden;
      width: 5.25em;
      height: 0.5rem;
    }
  }
}

.Series.has-m2r1::after {
  content: '';
}

@media (min-width: 56.375rem) {
  .u-pull {
    .Series.has-m2r1::after {
      content: none;
    }

    .Series[class*='has-m3r']::after {
      content: '';
    }

    .Series.has-m3r1::after {
      flex: 2 0 36rem;
    }
  }
}
