.Quote {

  blockquote {
    overflow: visible;
    margin: 0;
    padding: 0 2rem;
    border-width: 0;
    border-left: 10px solid $color-grey-200;
  }

  p {
    overflow: visible;
    margin: 0 0 1rem 0;
    color: $color-darkerPrimary;
    font-size: 1.125rem;
    line-height: 1.66;
  }

  footer {
    color: $color-grey-600;
    font-family: $font-sans;
    font-size: .9375rem;

    &::before {
      content: none;
    }
  }
}

.Quote:not(.is-pullquote) {
  @media #{$mq-sm} {
    .Main > [class*="u-pull"] > & {
      margin-left: -$layout-fluid-padding;
      margin-right: -$layout-fluid-padding;
    }

    .Main > & {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.Quote.is-pullquote {
  text-align: center;
  font-weight: bold;

  @media #{$mq-not-sm} {
    .u-pull-left &,
    .u-pull-right & {
      text-align: left;
    }

    .u-richtext > &,
    .u-pull-out > &,
    .u-pull > & {
      padding-left: cells(1);
      padding-right: cells(1);
    }
  }

  blockquote {
    border: none;
    padding: 0 1rem;
    background-color: transparent;

    @media #{$mq-not-sm} {
      .u-pull-left & {
        padding: .25rem 0 .25rem 2.75rem;
      }

      .u-pull-right & {
        padding: .25rem 0 .25rem .5rem;
      }
    }

    @media #{$mq-lg} {
      .u-pull-left & {
        padding-right: .5rem;
      }

      .u-pull-right & {
        padding-left: .5rem;
      }
    }
  }

  p {
    font-size: 1.625rem;
    line-height: 1.4;

    @media #{$mq-sm} {
      position: relative;
      z-index: 1;
    }

    @media #{$mq-md} {
      font-size: 1.75rem;
    }

    @media #{$mq-lg} {
      font-size: 1.875rem;
    }

    .u-richtext-invert > & {
      color: $color-lightestPrimary;
    }
  }

  footer {
    padding-top: .25rem;
    font-size: 1rem;
    color: $color-grey-500;

    @media #{$mq-md} {
      font-size: 1.125rem;
    }

    @media #{$mq-lg} {
      font-size: 1.25rem;
    }
    .u-richtext-invert > & {
      color: $color-grey-300;
    }

    &::before {
      content: "\2014\00A0";
    }
  }
}

.Quote-opener,
.Quote-closer {
  position: relative;

  @media #{$mq-sm} {
    z-index: -1;
  }
}

.Quote-opener::before,
.Quote-closer::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 22px;
  background-image: url(richtext/quotemarks.svg);
}

.Quote-opener::before {
  bottom: .55em;
  right: calc(100% + .33em);

  @media #{$mq-sm} {
    right: calc(100% - .166666667em);
  }

  .u-richtext-invert & {
    right: calc(100% - .166666667em);
  }
}

.Quote-closer::before {
  top: .5em;
  left: calc(100% + .33em);
  transform: rotate(180deg);

  @media #{$mq-sm} {
    left: calc(100% - .166666667em);
  }

  .u-richtext-invert & {
    left: calc(100% - .166666667em);
  }
}
