.Quote {

  blockquote {
    overflow: visible;
    margin: 0;
    border-width: 0;
    border-left: .625rem solid $color-grey-200;
    padding: 0 2rem;
    background-color: transparent;
  }

  p {
    overflow: visible;
    margin: 0 0 1rem 0;
    color: $color-darkerPrimary;
    font-size: 1.125rem;
    line-height: 1.66;
  }

  footer {
    color: $color-grey-600;
    font-family: $font-sans;
    font-size: .9375rem;

    &::before {
      content: none;
    }
  }
}

.Quote:not(.is-pullquote) {
  @media #{$mq-sm} {
    .Main > [class*="u-pull"] > & {
      margin-left: -$layout-fluid-padding;
      margin-right: -$layout-fluid-padding;
    }

    .Main > & {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.Quote.is-pullquote {
  text-align: center;

  @media #{$mq-not-sm} {
    .u-pull-left &,
    .u-pull-right & {
      text-align: left;
    }

    .u-richtext > &,
    .u-pull-out > &,
    .u-pull > & {
      padding-left: cells(1);
      padding-right: cells(1);
    }
  }

  blockquote {
    border: none;
    background-color: transparent;
    padding: 0;
  }

  p {
    font-size: 1.625rem;
    line-height: 1.4;

    @media #{$mq-sm} {
      position: relative;
      z-index: 1;
    }

    @media #{$mq-md} {
      font-size: 1.75rem;
    }

    @media #{$mq-lg} {
      font-size: 1.875rem;
    }

    .u-richtext-invert > & {
      color: $color-lightestPrimary;
    }
  }

  footer {
    padding-top: .25rem;
    font-size: 1rem;
    color: $color-grey-500;

    @media #{$mq-md} {
      font-size: 1.125rem;
    }

    @media #{$mq-lg} {
      font-size: 1.25rem;
    }
    .u-richtext-invert > & {
      color: $color-grey-300;
    }

    &::before {
      content: "\2014\00A0";
    }
  }
}
