@import '../../../constants';

.Comments {
  margin-bottom: 0 !important;

  .is-dark-mode & {
    background-color: $color-lightBg;
  }
}

.Comments-livefyreRoot {
  .is-dark-mode & {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .Comments & .interactive-livefyre-comments {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  h2 {
    color: $color-black;
    font-family: $font-sans;
    font-size: 1.375rem;
    text-transform: none;
  }

  p {
    font-size: 1rem;
    line-height: 1.667;
  }

  a,
  .fyre a,
  .fyre .fyre-comment a,
  a > *,
  .fyre a > *,
  .fyre .fyre-comment a > * {
    color: $color-darkPrimary;
  }

  a:visited,
  .fyre a:visited,
  a:visited > *,
  .fyre a:visited > * {
    color: $color-darkSecondary;
  }

  .fyre * {
    box-sizing: content-box;
  }

  .fyre .fyre-stream-sort,
  .fyre .fyre-comment-article,
  .fyre .fyre-comment-stream {
    font-family: $font-sans;
  }
}
