.u-layout {
  margin-left: auto;
  margin-right: auto;
  width: $layout-fluid;

  @media #{$mq-lg} {
    width: $layout-fixed;
  }
}

.u-layout > :not(.u-full) {
  margin-left: auto;
  margin-right: auto;
  padding-left: $layout-fluid-padding;
  padding-right: $layout-fluid-padding;
  width: cells(12);

  @media #{$mq-md} {
    width: cells(10);
  }

  @media #{$mq-lg} {
    padding-left: $layout-fixed-padding;
    padding-right: $layout-fixed-padding;
    width: cells(8);
  }
}

.u-layout > .u-full {
  margin-left: calc(-50vw + 50%);
  width: 100vw;

  // Phase 1 (Standard)
  html.fixed & {
    @media (max-width: 1000px) {
      min-width: 1000px;
      margin-left: -10px;
    }

    @media #{$mq-not-lg} {
      margin-left: 0;
    }
  }
}

.u-richtext {
  font-family: $font-serif;

  & > * {
    font-family: $font-serif;
    margin-bottom: 1.5rem;

    @media #{$mq-not-sm} {
      margin-bottom: 2rem;
    }
  }

  table,
  button,
  input,
  select,
  textarea {
    font-size: 1rem;
  }

  > h1,
  > h2,
  > h3 {
    font-family: $font-serif;
    font-weight: bold;
    line-height: 1.294117647;
  }

  > h1 {
    font-size: 2.5rem;

    @media #{$mq-md} {
      font-size: 3.125rem;
    }

    @media #{$mq-lg} {
      font-size: 3.5rem;
    }
  }

  > h2 {
    font-size: 2.125rem;

    @media #{$mq-md} {
      font-size: 2.375rem;
    }

    @media #{$mq-lg} {
      font-size: 2.5rem;
    }
  }

  > h3 {
    font-size: 1.375rem;
    text-align: center;
  }

  > p,
  > * > li,
  > blockquote {
    font-size: 1.125rem;
    line-height: 1.444444;

    @media #{$mq-not-sm} {
      line-height: 1.666666667;
    }
  }
}
