// TODO: define the colours in a way that means components don't need to worry about schemes and themes
// Right now, everything in Odyssey uses the 'light-blue' theme, but both light and dark schemes are supported.
// User preferences for light/dark mode are not supported.

// We inherit from PL/DLS variables where possible, should only directly use variables we define ourselves.
// That way we can define sensible fallbacks to cover the possibility that PL/DLS variable names will change
// or go away.

[data-scheme='light'] {
  // Surfaces
  --od-colour-surface-neutral: var(--nw-colour-surface-neutral, rgb(255, 255, 255));
  --od-colour-surface-utility: #75808a26;
  --od-colour-surface-utility-opaque: var(--nw-colour-surface-utility, #75808a);
  --od-colour-surface-utility-bolder: #f9fafacf;
  --od-colour-border-opacity-low: var(--nw-colour-border-opacity-low, #0000001a);

  // Surfaces themed
  --od-colour-theme-surface-over-image: rgba(255, 255, 255, 0.85);

  // Tags themed
  --od-colour-theme-tag: #c3cfdf99;
  --od-colour-theme-text-tag: var(--nw-colour-text-accent, #10316a);
  --od-colour-theme-text-tag-opacity-40: #10316a66;

  // Buttons
  --od-button-primary: var(--nw-colour-theme-button-primary, #10316a);
  --od-button-primary-hover: var(--nw-colour-theme-button-primary-hover, #e7eaf0);
  --od-button-primary-active: var(--nw-colour-theme-button-primary-active, #afbacd);
  --od-button-primary-disabled: var(--nw-colour-theme-button-primary-disabled, #0000000d);

  --od-button-secondary: var(--nw-colour-theme-button-secondary, #e7eaf0);
  --od-button-secondary-hover: var(--nw-colour-theme-button-secondary-hover, #10316a);
  --od-button-secondary-active: var(--nw-colour-theme-button-secondary-active, #60769c);
  --od-button-secondary-disabled: var(--nw-colour-theme-button-secondary-disabled, #0000000d);

  // Text
  --od-colour-text-primary: var(--nw-colour-text-primary, rgb(0, 0, 0));
  --od-colour-text-secondary: var(--nw-colour-text-secondary, rgb(72, 75, 81));
  --od-colour-text-inverse: var(--nw-colour-text-inverse, #ffffff);
  --od-colour-text-disabled: var(--nw-colour-text-disabled, #93979f);
  --od-colour-text-on-colour: var(--nw-colour-text-on-colour, #fff);
  --od-colour-text-on-colour-inverse: var(--nw-colour-text-on-colour-inverse, #000);

  // Text themed
  --od-colour-theme-text-accent: var(--nw-colour-theme-text-accent, #10316a);
  --od-colour-theme-text-link: #004fb8;

  // Icons
  --od-colour-icon-neutral: var(--nw-colour-icon-neutral, #fff);
  --od-colour-icon-inverse: var(--nw--colour-icon-inverse, #ffffff);
}

[data-scheme='dark'] {
  // Surfaces
  --od-colour-surface-neutral: var(--nw-colour-surface-neutral, rgb(15, 15, 15));
  --od-colour-surface-utility: #30323699;
  --od-colour-surface-utility-opaque: var(--nw-colour-surface-utility, #303236);
  --od-colour-surface-utility-bolder: #18191bbf;
  --od-colour-border-low-transparency: rgba(255, 255, 255, 0.2);
  --od-colour-border-opacity-low: var(--nw-colour-border-opacity-low, #303236);

  // Surfaces themed
  --od-colour-theme-surface-over-image: rgba(15, 15, 15, 0.75);

  // Tags themed
  --od-colour-theme-tag: #47516299;
  --od-colour-theme-text-tag: var(--nw-colour-text-accent, #d1e0f5);
  --od-colour-theme-text-tag-opacity-40: #d1e0f566;

  // Buttons
  --od-button-primary: var(--nw-colour-theme-button-primary, #a0beeb);
  --od-button-primary-hover: var(--nw-colour-theme-button-primary-hover, #10316a);
  --od-button-primary-active: var(--nw-colour-theme-button-primary-active, #60769c);
  --od-button-primary-disabled: var(--nw-colour-theme-button-primary-disabled, #0000000d);

  --od-button-secondary: var(--nw-colour-theme-button-secondary, #373f4c);
  --od-button-secondary-hover: var(--nw-colour-theme-button-secondary-hover, #a0beeb);
  --od-button-secondary-active: var(--nw-colour-theme-button-secondary-active, #60769c);
  --od-button-secondary-disabled: var(--nw-colour-theme-button-secondary-disabled, #ffffff33);

  // Text
  --od-colour-text-primary: var(--nw-colour-text-primary, rgb(235, 235, 235));
  --od-colour-text-secondary: var(--nw-colour-text-secondary, rgb(201, 203, 207));
  --od-colour-text-inverse: var(--nw-colour-text-inverse, #000000);
  --od-colour-text-disabled: var(--nw-colour-text-disabled, #60646c);
  --od-colour-text-on-colour: var(--nw-colour-text-on-colour, #fff);
  --od-colour-text-on-colour-inverse: var(--nw-colour-text-on-colour-inverse, #000);

  // Text themed
  --od-colour-theme-text-accent: var(--nw-colour-theme-text-accent, rgb(209, 224, 245));
  --od-colour-theme-text-link: #b2d3ff;

  // Icons
  --od-colour-icon-neutral: var(--nw-colour-icon-neutral, #000);
  --od-colour-icon-inverse: var(--nw--colour-icon-inverse, #000);
}
