@use 'sass:math';

$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0);
$color-white-transparent-30: rgba(255, 255, 255, 0.3);
$color-white-transparent-45: rgba(255, 255, 255, 0.45);
$color-white-transparent-60: rgba(255, 255, 255, 0.6);
$color-white-transparent-75: rgba(255, 255, 255, 0.75);
$color-white-transparent-85: rgba(255, 255, 255, 0.85);
$color-white-transparent-90: rgba(255, 255, 255, 0.9);

$color-black: #000;
$color-black-transparent: rgba(0, 0, 0, 0);
$color-black-transparent-10: rgba(0, 0, 0, 0.3);
$color-black-transparent-30: rgba(0, 0, 0, 0.3);
$color-black-transparent-45: rgba(0, 0, 0, 0.45);
$color-black-transparent-60: rgba(0, 0, 0, 0.6);
$color-black-transparent-75: rgba(0, 0, 0, 0.75);
$color-black-transparent-93: rgba(0, 0, 0, 0.93);

$color-grey-100: #d2d2d2;
$color-grey-200-transparent-30: rgba(196, 196, 196, 0.3);
$color-grey-300: #b3b3b3;
$color-grey-300-transparent-15: rgba(179, 179, 179, 0.15);
$color-grey-300-transparent-70: rgba(179, 179, 179, 0.7);
$color-grey-500: #666;
$color-grey-500-transparent-65: rgba(102, 102, 102, 0.65);
$color-grey-900: #111;

$color-lightBg: #f9f9f9;
$color-darkBg: $color-black;

$color-lighterPrimary: #a5daf3;
$color-lightPrimary: #68e1ff;
$color-darkPrimary: #0073a8;
$color-darkerPrimary: #315768;

$color-lightSecondary: #f1ccf3;
$color-darkSecondary: #69236b;

$gradient-white-vertical-0-0-100-60: linear-gradient(
  to bottom,
  $color-white-transparent 0%,
  $color-white-transparent-60 100%
);
$gradient-white-vertical-50-0-100-60: linear-gradient(
  to bottom,
  $color-white-transparent 50%,
  $color-white-transparent-60 100%
);
$gradient-white-horizontal-40-45-65-0: linear-gradient(
  to right,
  $color-white-transparent-45 40%,
  $color-white-transparent 65%
);

$gradient-black-vertical-0-0-100-60: linear-gradient(
  to bottom,
  $color-black-transparent 0%,
  $color-black-transparent-60 100%
);
$gradient-black-vertical-50-0-100-60: linear-gradient(
  to bottom,
  $color-black-transparent 50%,
  $color-black-transparent-60 100%
);
$gradient-black-vertical-0-45-100-75: linear-gradient(
  to bottom,
  $color-black-transparent-45 0%,
  $color-black-transparent-75 100%
);
$gradient-black-horizontal-40-45-65-0: linear-gradient(
  to right,
  $color-black-transparent-45 40%,
  $color-black-transparent 65%
);

$unit: 16px;

$bp-md: $unit * 43.75;
$bp-lg: $unit * 61.25;
$bp-xl: $unit * 112.5;

@function cells($numColumns, $totalColumns: 12) {
  @return math.div($numColumns, $totalColumns) * 100%;
}

$layout-fluid: 100%;
$layout-fixed: $bp-lg;
$layout-fluid-gutter: $unit * 1.875;
$layout-fixed-gutter: $unit * 1.75;
$layout-fluid-padding: math.div($layout-fluid-gutter, 2);
$layout-fixed-padding: math.div($layout-fixed-gutter, 2);

$mq-lt-md: '(max-width: #{$bp-md - 1px})';
$mq-gt-sm: '(min-width: #{$bp-md})';
$mq-lt-lg: '(max-width: #{$bp-lg - 1px})';
$mq-gt-md: '(min-width: #{$bp-lg})';
$mq-lt-xl: '(max-width: #{$bp-xl - 1px})';
$mq-gt-lg: '(min-width: #{$bp-xl})';
$mq-sm: $mq-lt-md;
$mq-md: '#{$mq-gt-sm} and #{$mq-lt-lg}';
$mq-lg: '#{$mq-gt-md} and #{$mq-lt-xl}';
$mq-xl: $mq-gt-lg;
$mq-portrait: '(orientation: portrait)';
$mq-landscape: '(orientation: landscape)';
$mq-gt-4-3: '(min-aspect-ratio: 4/3)';

$bp-pl-md: $unit * 34;
$mq-pl-lt-md: '(max-width: #{$bp-pl-md - 1px})';

$size-control: $unit * 2.5;
$size-control-margin: $unit * 0.1875;

// Future News
$color-surface-utility: #f1f2f3;
$radius: calc($unit * 0.75);

.Main {
  // Fonts
  --od-font-stack-condensed: var(
    --dls-font-stack-condensed,
    '"abcsans condensed",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif'
  );
  --od-font-stack-rounded: var(
    --dls-font-stack-rounded,
    '"abcsans rounded",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif'
  );
  --od-font-stack-sans: var(
    --dls-font-stack-sans,
    '"abcsans",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif'
  );
  --od-font-stack-serif: var(--dls-font-stack-serif, '"abcserif","Book Anitqua","Palatino Linotype",Palatino,serif');
  --od-font-stack-monospace: var(--dls-font-stack-monospace, '"abcsans tabbed",monospace');

  --od-font-size-sm: 0.875rem; // 14px
  --od-font-size: 1.125rem; // 18px
  --od-font-size-lg: 1.25rem; // 20px
  --od-font-size-xl: 1.5rem; // 24px
  --od-font-size-2xl: 1.75rem; // 28px

  --od-font-size-heading-lg: var(--od-font-size-2xl); // 28px
  --od-font-size-heading-md: var(--od-font-size-xl);
  --od-font-size-heading-sm: var(--od-font-size-lg); // 20px
  --od-line-height: 1.5;

  @media #{$mq-gt-sm} {
    --od-font-size-heading-lg: 2.25rem; // 36px
    --od-font-size-heading-md: 2rem; // 32px
  }

  @media #{$mq-gt-md} {
    --od-font-size-heading-lg: 2.5rem; // 40px
  }

  @media #{$mq-gt-lg} {
    --od-font-size-heading-lg: 2.75rem; // 44px
  }

  // Spacing
  --od-space-sm: 0.875rem; // 14px
  --od-space-md: 1rem; // 16px
  --od-space-lg: 1.5rem; // 24px
  --od-space-xl: 2rem; // 32px
  --od-space-2xl: 3rem; // 48px

  --od-space-paragraph-margin: var(--od-space-sm);
  --od-space-component-margin: var(--od-space-lg);
  --od-space-header-margin: var(--od-space-lg);

  @media #{$mq-gt-sm} {
    --od-space-paragraph-margin: var(--od-space-lg);
    --od-space-component-margin: var(--od-space-xl);
    --od-space-header-margin: var(--od-space-xl);
  }

  @media #{$mq-gt-md} {
    --od-space-paragraph-margin: var(--od-space-lg);
    --od-space-component-margin: var(--od-space-2xl);
  }
}
