.VideoPlayer {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  background-color: $color-black;

  .u-full > & {
    height: 100%;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
    object-fit: cover;

    &::-webkit-media-controls-play-button,
		&::-webkit-media-controls-start-playback-button {
			opacity: 0;
			width: .3125rem;
			pointer-events: none;
		}
  }
}

.VideoPlayer-interface {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
  width: 100%;
  max-width: 100vw;
  max-width: var(--root-width);
  height: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: $color-black-transparent;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: $size-control * -.75;
    margin-left: $size-control * -.75;
    width: $size-control * 1.5;
    height: $size-control * 1.5;
    background-color: $color-black-transparent-60;
    background-image: url(video-player/play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: opacity .25s, transform .25s;
    will-change: opacity, transform;

    @media #{$mq-md} {
      .u-pull &,
      .u-full & {
        margin-top: $size-control * -.875;
        margin-left: $size-control * -.875;
        width: $size-control * 1.75;
        height: $size-control * 1.75;
      }
    }

    @media #{$mq-lg} {
      .u-pull &,
      .u-full & {
        margin-top: $size-control * -1;
        margin-left: $size-control * -1;
        width: $size-control * 2;
        height: $size-control * 2;
      }
    }
  }

  :not([paused]) + &:focus,
  &:focus::before {
    outline-color: Highlight;
    outline-style: solid;

    @media (-webkit-min-device-pixel-ratio: 0) {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
    }
  }

  :not([paused]) + &::before {
    opacity: 0;
    transform: scale(1.5);
    background-image: url(video-player/pause.svg);
  }

  [ended] + &::before {
    background-image: url(video-player/replay.svg);
  }

  [ended]:not([paused]) + &::before {
    opacity: 0;
  }

  & > * {
    opacity: 0;
    position: absolute;
    transition: opacity .5s .5s;
    will-change: opacity;
  }

  &:hover > * {
    opacity: 1;
    transition: opacity .25s;
  }

  & > *:focus {
    transition: none;
  }

  [paused] + & > * {
    opacity: 0;
    pointer-events: none;
    transition: opacity .25s;
  }
}

.VideoPlayer-mute {
  display: none;
  top: 0;
  right: 0;
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  width: $size-control;
  height: $size-control;
  background-color: $color-black-transparent-60;
  background-image: url(video-player/muted.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;

  .has-audio + .VideoPlayer-interface & {
    display: block;
  }

  [muted] + .VideoPlayer-interface & {
    opacity: 1;
  }

  [muted] + .VideoPlayer-interface & {
    background-image: url(video-player/mute.svg);
  }

  &:focus {
    opacity: 1;
    outline-color: Highlight;
    outline-style: solid;

    @media (-webkit-min-device-pixel-ratio: 0) {
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
    }
  }

}

.VideoPlayer-progress {
  display: flex;
  align-items: flex-start;
  right: 0;
  bottom: 0;
  left: 0;
}

.VideoPlayer-progressBar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  flex: 1 1 auto;
  margin-left: 1.25rem;
  border: none;
  padding: .125rem;
  height: .75rem;
  background-color: $color-black-transparent-60;
  color: $color-white-transparent-60;

  &::-webkit-progress-bar {
		background: none;
	}

	&::-webkit-progress-value {
		background: $color-white-transparent-60;
	}

  &::-moz-progress-bar {
		background: $color-white-transparent-60;
	}

  &::-ms-fill {
		background: $color-white-transparent-60;
	}
}

.VideoPlayer-timeRemaining {
  margin-left: $size-control-margin;
  padding: .25rem;
  min-width: 3.75rem;
  height: 2rem;
  background-color: $color-black-transparent-60;
  color: $color-white;
  font-family: $font-sans;
  font-size: .875rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: .0375rem;
}

.UnpublishedVideoPlaceholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-grey-800;
  background-image: $gradient-radial-0-0-100-60;
  outline: dashed .125rem $color-white;
  outline-offset: -.5rem;
  border: solid .125rem $color-lightTertiary;
  
  .u-full > & {
    height: 100%;
  }

  p {
    padding: 1rem;
    max-width: 24rem;
    color: $color-lightTertiary;
    font-family: $font-sans;
    font-size: 1rem;
    text-align: center;

    a,
    a:visited {
      color: currentColor;
      text-decoration: underline;
    }
  }
}
