.VideoPlayer {
  overflow: hidden;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  background-color: $color-black;

  .u-full > & {
    height: 100%;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover; font-family: 'object-fit: cover;';

    &.IIV::-webkit-media-controls-play-button,
		&[autoplay]::-webkit-media-controls-start-playback-button {
			opacity: 0;
			width: 5px;
			pointer-events: none;
		}
  }
}

.VideoPlayer-interface {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 100vw;
  height: 100%;
  cursor: pointer;
  -webkit-tap-highlight-color: $color-white-transparent;

  &::before,
  & > * {
    position: absolute;
    margin: 0;
    outline: none;
    border: none;
    padding: 0;
    background-color: $color-transparent-black-50;
    color: $color-white;
    font-family: $font-sans;
    font-size: 1rem;
    cursor: pointer;
  }

  &::before {
    content: "";
    top: 50%;
    left: 50%;
    margin-top: -2.1875rem;
    margin-left: -2.25rem;
    width: 4.5rem;
    height: 4.375rem;
    background-image: url(video-player/play.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: .25s opacity, .25s transform;
    will-change: opacity, transform;

    @media #{$mq-not-sm} {
      .u-pull &,
      .u-full & {
        margin-top: -2.8125rem;
        margin-left: -2.9375rem;
        width: 5.875rem;
        height: 5.625rem;
      }
    }
  }

  [playing] + &::before {
    opacity: 0;
    transform: scale(1.5);
    background-image: url(video-player/pause.svg);
  }

  [ended] + &::before {
    background-image: url(video-player/replay.svg);
  }

  [ended][playing] + &::before {
    opacity: 0;
  }

  & > * {
    opacity: 0;
    transition: .5s opacity .5s;
    will-change: opacity;
  }

  &:hover > * {
    opacity: 1;
    transition: .25s opacity;
  }

  :not([playing]) + & > * {
    opacity: 0;
    pointer-events: none;
    transition: .25s opacity;
  }
}

.VideoPlayer-mute {
  top: 0;
  right: 0;
  width: 3.25rem;
  height: 3.125rem;
  background-image: url(video-player/muted.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  @media #{$mq-not-sm} {
    .u-pull &,
    .u-full & {
      width: 4.5rem;
      height: 4.375rem;
    }
  }

  [muted] + .VideoPlayer-interface & {
    opacity: 1;
  }

  [muted] + .VideoPlayer-interface & {
    background-image: url(video-player/mute.svg);
  }
}

.VideoPlayer-timeRemaining {
  right: 5%;
  bottom: calc(8.888% + 1.5rem);
  padding: .75rem;
  min-width: 4.5rem;
  font-size: 1.125rem;
  line-height: 1;
  letter-spacing: 0.075rem;

  &:empty {
    display: none;
  }
}

.VideoPlayer-progressBar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  right: 5%;
  bottom: 8.888%;
  left: 5%;
  padding: .125rem;
  width: 90%;
  height: .75rem;
  color: $color-transparent-black-50;

  &::-webkit-progress-bar {
		background: none;
	}

  &::-moz-progress-bar {
		background: none;
	}

	&::-webkit-progress-value {
		background: rgba(255, 255, 255, .6);
    transition: 1s width linear;

    [ended][playing] + .VideoPlayer-interface & {
      transition: none;
    }
	}

	&::-moz-progress-value {
		background: rgba(255, 255, 255, .6);
    transition: 1s width linear;

    [ended][playing] + .VideoPlayer-interface & {
      transition: none;
    }
	}

  &::-ms-fill {
		background: rgba(255, 255, 255, .6);
    transition: 1s width linear;

    [ended][playing] + .VideoPlayer-interface & {
      transition: none;
    }
	}
}
