@import '../../constants';

.VideoPlayer {
  position: relative;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: $color-darkBg;

  .u-full > & {
    height: 100%;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
    object-fit: cover;

    &:fullscreen {
      background-image: none !important;
      object-fit: contain;
    }

    &:not([controls])::-webkit-media-controls-play-button,
    &:not([controls])::-webkit-media-controls-start-playback-button {
      opacity: 0;
      width: $unit * 0.3125;
      pointer-events: none;
    }
  }

  @media #{$mq-lt-lg} {
    &.is-contained video {
      background-size: contain;
      object-fit: contain;

      &:not([paused]) {
        background-image: none !important;
      }
    }
  }
}

.is-future .VideoPlayer {
  @media #{$mq-gt-md} {
    border-radius: $radius-images;
    overflow: hidden;
  }
}