html {
  overflow-x: hidden;
  font-size: $rem;

  // Phase 1 (Standard)
  &.fixed {
    @media (max-width: 1000px) {
      overflow-x: auto;
    }
  }
}

body {
  height: 102vh;
  width:  100vw;
}

#abcHeader.global {
  max-width: inherit;
}
