html {
  overflow-x: hidden;
  font-size: $rem;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;

  // Phase 1 (Standard)
  &.fixed {
    @media (max-width: $p1s-fixed-width) {
      overflow-x: auto;
    }
  }
}

body {
  min-height: 102vh;
  width: 100vw;
  width: var(--root-width);
  background-color: $color-grey-50;

  .is-dark-mode > & {
    background-color: $color-black;
  
    main + .page_margins {
      background-color: $color-grey-50;
    }

    main + .content {
      background-color: $color-white;
    }
  }
}

#abcHeader.global {
  max-width: inherit;
}
