html {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: $color-white;
  font-size: $rem;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;

  // Phase 1 (Standard)
  &.fixed {
    @media (max-width: 1000px) {
      overflow-x: auto;
    }
  }
}

body {
  min-height: 102vh;
  width:  100vw;
  background-color: #f9f9f9;
}

#abcHeader.global {
  max-width: inherit;
}
