@import '../../constants';

html {
  overflow-x: hidden;
  font-size: $rem;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;

  // Phase 1 (Standard)
  &.fixed {
    @media (max-width: $p1s-fixed-width) {
      overflow-x: auto;
    }
  }
}

@media print {
  html {
    --root-width: 100% !important;
  }
}

body {
  overflow: hidden;
  min-height: 102vh;
  width: 100vw;
  width: var(--root-width, 100vw);
  background-color: $color-grey-50;
  background-color: var(--bg, #{$color-grey-50});

  .is-dark-mode > & {
    background-color: $color-black;
    background-color: var(--bg, #{$color-black});
  }

  main + .page_margins ::before,
  main + .page_margins ::after,
  main + .content ::before,
  main + .content ::after {
    content: '';
    position: absolute;
    background-color: inherit;
  }

  main + .page_margins,
  main + .content {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 50vw;
      height: 100%;
      background-color: inherit;
    }

    &::before {
      left: -50vw;
    }

    &::after {
      right: -50vw;
    }

    & > * {
      border-top: 0;
    }
  }

  main + .page_margins {
    background-color: $color-grey-50;
  }

  main + .content {
    background-color: #f1f1f1;
  }
}

/* Until the Presentation Layer masthead is consistent across all phases, retain the classic ABC global header */

#abcHeader.global {
  display: block !important;
  max-width: inherit;
}

.masthead-container {
  display: none !important;
}
