@import '../../constants';

html {
  overflow-x: hidden;
  font-size: 16px;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  background-color: $color-lightBg;
  background-color: var(--bg, #{$color-lightBg});

  &.is-dark-mode {
    background-color: $color-darkBg;
    background-color: var(--bg, #{$color-darkBg});
  }
}

body {
  overflow: hidden;
  min-height: 102vh;
  width: 100%;
  background-color: inherit !important;
}

/* PL articles (excluding ABC app, which respect device light/dark mode) need white background applied to recirculation */
main ~ main:last-of-type:not([class]) {
  margin-top: $unit;
  border-top: 1px solid #e6e6e6;
  padding-top: $unit * 2;
  background-color: #fff;
}

/* Hide PL site nav & fixed header, rather than removing it */
[data-component^='SiteNav'],
[data-component='FixedHeader'] {
  display: none;
}

/* The functionality of PL podcast teaser/listen widgets is degraded, so hide the listen button so that it looks just like a picture teaser */
[data-component='PodcastPlayer'] [data-component='Player'] {
  display: none;
}
