@import '../../constants';

.Caption {
  * > & {
    font-size: 0.8125rem !important;
    line-height: 1.555555556;
  }

  @media #{$mq-lt-lg} {
    padding-left: $layout-fluid-padding;
    padding-right: $layout-fluid-padding;
  }

  .u-full & {
    @media #{$mq-gt-md} {
      padding-left: $layout-fixed-padding;
      padding-right: $layout-fixed-padding;
    }
  }

  .u-richtext-invert & {
    padding-left: $layout-fluid-padding;
    padding-right: $layout-fluid-padding;

    :where(.is-legacy) & {
      background-color: $color-black-transparent-60;
      color: $color-white;
    }

    @media #{$mq-gt-md} {
      padding-left: $layout-fluid-padding;
      padding-right: $layout-fluid-padding;
    }
  }

  a,
  a:visited {
    color: currentColor !important;
    text-decoration: none;
  }
}

.Caption-attribution {
  display: none;
  white-space: nowrap;

  .has-caption-attributions & {
    display: inline;
  }

  .u-richtext-invert & {
    color: $color-grey-100;
  }

  .has-long-attribution & {
    white-space: normal;
  }
}

:where(.is-legacy) {
  .Caption {
    font-family: var(--od-font-stack-sans);

    margin: 0;

    padding-top: $unit * 0.4375;
    padding-bottom: $unit * 0.375;

    :first-child {
      margin-right: $unit * 0.25;
    }

    .u-richtext .u-pull-left &,
    .u-richtext .u-pull-right & {
      @media #{$mq-gt-sm} {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .Caption-attribution {
    font-size: 0.6875rem;
    color: $color-grey-500;
  }
}

:where(.is-future) {
  .Caption {
    margin: $unit * 0.5 0;
    font-size: var(--od-font-size-xs) !important;
    line-height: 1.25rem;
    padding: 0;
    @media #{$mq-lt-lg} {
      margin-inline: var(--od-space-component-inline-margin);
    }
  }

  [class*='u-pull-'] {
    .Caption {
      @media #{$mq-gt-sm} {
        margin-inline: 0;
      }
    }
  }
}
