@import '../../../constants';

.Caption {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0.45rem;
  padding-bottom: 0.4rem;
  font-family: $font-sans;

  @media #{$mq-lt-lg} {
    padding-left: $layout-fluid-padding;
    padding-right: $layout-fluid-padding;
  }

  .u-full & {
    @media #{$mq-gt-md} {
      padding-left: $layout-fixed-padding;
      padding-right: $layout-fixed-padding;
    }
  }

  .u-richtext-invert & {
    padding-left: $layout-fluid-padding;
    padding-right: $layout-fluid-padding;
    background-color: $color-black-transparent-60;
    color: $color-white;

    @media #{$mq-gt-md} {
      padding-left: $layout-fluid-padding;
      padding-right: $layout-fluid-padding;
    }
  }

  .u-richtext .u-pull-left &,
  .u-richtext .u-pull-right & {
    @media #{$mq-gt-sm} {
      padding-left: 0;
      padding-right: 0;
    }
  }

  * > & {
    font-size: 0.8125rem !important;
    line-height: 1.25rem;
  }

  :first-child {
    margin-right: 0.25rem;
  }

  a,
  a:visited {
    color: currentColor;
  }
}

.Caption-attribution {
  display: none;
  white-space: nowrap;
  font-size: 0.6875rem;
  color: $color-grey-500;

  .has-caption-attributions & {
    display: inline;
  }

  .u-richtext-invert & {
    color: $color-grey-100;
  }
}
