@import '../../constants';

.IFrameTile {
  position: relative;
}

.IFrameTile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  & > iframe {
    margin: 0 !important;
    max-width: none !important; /* Roughly equivalent to body copy width, after padding is factored in */
    height: 100%;
  }
}
