@use '../../constants' as *;

.Mosaic {
  --Mosaic-gap: #{$unit * 0.25};
  overflow: hidden;
  padding-top: var(--Mosaic-gap);

  @media #{$mq-lt-lg} {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @media #{$mq-md} {
    --Mosaic-gap: #{$unit * 0.5};
  }

  @media #{$mq-gt-md} {
    --Mosaic-gap: #{$unit * 0.625};
  }
}

.Mosaic-items {
  margin: calc(var(--Mosaic-gap) * -1) calc(var(--Mosaic-gap) * -0.5);
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.Mosaic-item {
  --Mosaic-item-horizontal-pct: 100%;
  --Mosaic-item-gt-md-horizontal-pct: 100%;

  flex: 0 1 var(--Mosaic-item-horizontal-pct);
  max-width: var(--Mosaic-item-horizontal-pct);
  margin-bottom: var(--Mosaic-gap);
  padding: 0 calc(var(--Mosaic-gap) * 0.5);
  position: relative;

  @media #{$mq-gt-md} {
    flex-basis: var(--Mosaic-item-gt-md-horizontal-pct);
    max-width: var(--Mosaic-item-gt-md-horizontal-pct);
  }

  & > :first-child {
    height: 100%;
  }

  .RichtextTile-content > * {
    padding: 0 !important;
  }

  @media #{$mq-lt-lg} {
    &[data-row-length='2'] .RichtextTile-content > .Quote.is-pullquote p {
      font-size: 1.125rem;
    }

    &[data-row-length='3'] .RichtextTile-content > .Quote.is-pullquote p {
      font-size: 0.875rem;
    }
  }

  @media #{$mq-gt-md} {
    &[data-large-display-row-length='3'] .RichtextTile-content > .Quote.is-pullquote p {
      font-size: 1.125rem;
    }

    &[data-large-display-row-length='4'] .RichtextTile-content > .Quote.is-pullquote p {
      font-size: 0.875rem;
    }
  }

  .Caption {
    opacity: 0;
    position: absolute;
    bottom: 0;
    padding-right: var(--Mosaic-gap);
    padding-left: var(--Mosaic-gap);
    max-width: calc(100% - var(--Mosaic-gap) - $unit);
    min-height: 0;
    pointer-events: none;
    transition: opacity 0.125s;

    @media #{$mq-sm} {
      display: none;
    }
  }

  &:hover .Caption,
  & :not(.Caption):focus + .Caption {
    opacity: 1;
    pointer-events: all;
  }
}

:where(.is-future) {
  .Mosaic {
    margin-top: var(--od-space-component-margin);
    margin-bottom: var(--od-space-component-margin);
  }

  .Mosaic-item .Caption {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background-color: var(--od-colour-theme-surface-over-image);
    margin-left: calc($unit / 2);
    margin-right: calc($unit / 2);
    border-radius: $radius;
    padding: var(--od-space-caption-padding);
  }
}

:where(.is-legacy) {
  .Mosaic-item {
    .Caption {
      background-color: $color-black-transparent-60;
      color: $color-lightBg;
    }

    .Caption-attribution {
      color: $color-grey-100;
    }
  }
}
