@import '../../../constants';

.ShareLink {
  position: relative;
  flex: 1 1 ($size-control - $size-control-margin);
  margin: 0;
  border: 0;
  padding: 0;
  width: $size-control - $size-control-margin;
  background-color: $color-grey-300;

  .Share & {
    transition: filter 0.25s;

    &:hover {
      -webkit-filter: brightness(0.95);
      filter: brightness(0.95);
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}

.ShareLink + .ShareLink {
  margin-left: $size-control-margin;
}

.ShareLink--email {
  @media #{$mq-sm} {
    display: none;
  }

  &::after {
    background-image: url(./email.svg);

    .u-richtext-invert & {
      background-image: url(./email--inverted.svg);
    }
  }
}

.ShareLink--facebook {
  &::after {
    background-image: url(./facebook.svg);

    .u-richtext-invert & {
      background-image: url(./facebook--inverted.svg);
    }
  }
}

.ShareLink--native {
  &::after {
    background-image: url(./native.svg);

    .u-richtext-invert & {
      background-image: url(./native--inverted.svg);
    }
  }
}

.ShareLink--twitter {
  &::after {
    background-image: url(./twitter.svg);

    .u-richtext-invert & {
      background-image: url(./twitter--inverted.svg);
    }
  }
}
