@import '../../../constants';

.ShareLink {
  flex: 1 1 ($size-control - $size-control-margin);
  width: $size-control - $size-control-margin;
  background-color: $color-grey-100;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: filter .25s;

  .u-richtext-invert > * > * > &,
  .u-richtext-invert > * > * > * > & {
    background-color: $color-grey-800;
  }

  &:hover {
    -webkit-filter: brightness(.95);
    filter: brightness(.95);
  }
}

.ShareLink + .ShareLink {
  margin-left: $size-control-margin;
}

.Nav .ShareLink {
  flex: 0 1 ($size-control - $size-control-margin);
  background-color: transparent;
}

.ShareLink--email {
  background-image: url(./email.svg);

  .Nav & {
    background-image: url(./email--nav.svg);
  }

  @media #{$mq-sm} {
    display: none;
  }
}

.ShareLink--facebook {
  background-image: url(./facebook.svg);

  .Nav & {
    background-image: url(./facebook--nav.svg);
  }
}

.ShareLink--reddit {
  background-image: url(./reddit.svg);

  .Nav & {
    background-image: url(./reddit--nav.svg);
  }

  @media #{$mq-sm} {
    display: none;
  }
}

.ShareLink--twitter {
  background-image: url(./twitter.svg);

  .Nav & {
    background-image: url(./twitter--nav.svg);
  }
}

.ShareLink--whatsapp {
  background-image: url(./whatsapp.svg);

  .Nav & {
    background-image: url(./whatsapp--nav.svg);
  }

  @media #{$mq-not-sm} {
    display: none;
  }
}
