$Nav_height: 44px;
$Nav-logo_width: 118px;
$Nav-bar_bg-color: #1c1c1c;

.Nav {
  position: relative;
  height: $Nav_height;
  background-color: $Nav-bar_bg-color;
}

.Nav-bar {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 6px;
  width: 100%;
  height: $Nav_height;
  background-color: $Nav-bar_bg-color;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0, 0, .32, 1);
  will-change: transform;

  &.is-fixed {
    position: fixed;
    top: 0;
    z-index: 3;
  }

  @media (max-height: 799px) {
    transform: translateY(-102%) !important;
    transition-duration: .125s !important;

    &.is-peeking {
      transform: none !important;
    }
  }
}

.Nav-home {
  flex: 0 0 auto;
  display: block;
  width: $Nav-logo_width;
  height: $Nav_height;
  background-image: url(nav/news.svg);
  background-position: center right;
  background-repeat: no-repeat;
  text-decoration: none;
  text-indent: -100%;
}
