.PresentationLayer__Interactive {
  margin: 0;
  overflow: hidden;
}

.PresentationLayer__Interactive > * {
  margin: 0 auto !important;
}

.PresentationLayer__Interactive[data-provider='facebook'] .fb-post,
.PresentationLayer__Interactive[data-provider='instagram'] .instagram-media-rendered,
.PresentationLayer__Interactive[data-provider='twitter'] .twitter-tweet-rendered {
  max-width: 550px !important;
}

.PresentationLayer__Interactive[data-provider='facebook'] .fb-post {
  display: block;
}

.PresentationLayer__Interactive[data-provider='twitter'] .twitter-tweet-rendered {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.PresentationLayer__Interactive[data-provider='facebookVideo'] .fb-post span,
.PresentationLayer__Interactive[data-provider='facebookVideo'] .fb-post span iframe {
  width: 100% !important;
}

/* Placeholder content */

.PresentationLayer__Interactive blockquote {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
}

.PresentationLayer__Interactive blockquote > :first-child {
  margin-top: 0;
}

.PresentationLayer__Interactive blockquote > :last-child {
  margin-bottom: 0;
}

/* Errors */

.PresentationLayer__HiddenErrorMessage {
  display: none;
}
