.AsyncComponent__Interactive {
  margin: 0;
  overflow: hidden;
}

.AsyncComponent__Interactive > * {
  display: block !important;
  margin: 0 auto !important;
}

.AsyncComponent__Interactive[data-provider='facebook'] .fb-post,
.AsyncComponent__Interactive[data-provider='instagram'] .instagram-media-rendered,
.AsyncComponent__Interactive[data-provider='twitter'] .twitter-tweet-rendered {
  max-width: 550px !important;
}

.AsyncComponent__Interactive[data-provider='twitter'] .twitter-tweet-rendered {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.AsyncComponent__Interactive[data-provider='facebookVideo'] .fb-post span,
.AsyncComponent__Interactive[data-provider='facebookVideo'] .fb-post span iframe {
  width: 100% !important;
}

.AsyncComponent__Interactive iframe {
  width: 100% !important;
}

/* Placeholder content */

.AsyncComponent__Loading {
  text-align: center;
}

.AsyncComponent__Interactive blockquote {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
}

.AsyncComponent__Interactive blockquote > :first-child {
  margin-top: 0;
}

.AsyncComponent__Interactive blockquote > :last-child {
  margin-bottom: 0;
}

/* Errors */

.AsyncComponent__HiddenErrorMessage {
  display: none;
}
