.ImageEmbed {

  @media #{$mq-sm} {
    .Main > [class*="u-pull"] > & {
      margin-left: -$layout-fluid-padding;
      margin-right: -$layout-fluid-padding;
    }
  }

  @media #{$mq-not-lg} {
    .Main > & {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  img {
    width: 100%;
    vertical-align: top;
  }
}
