@import '../../../constants';

.ImageEmbed {
  &.u-full.is-cover {
    height: 100vh;
  }

  @media #{$mq-sm} {
    .Main > & {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }

    .Main > [class*='u-pull'] > & {
      margin-left: -$layout-fluid-padding;
      margin-right: -$layout-fluid-padding;
    }
  }

  @media #{$mq-md} {
    .Main > &:not([class*='u-pull-']) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }
}
