@use '../../constants' as *;

.Block-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - #{$layout-fluid-gutter});
  max-width: $unit * 40;
  min-height: 100vh;

  @media #{$mq-gt-md} {
    &.is-left {
      margin-left: calc(25% - #{$unit * 12.5});

      .has-inset-media > & {
        margin-left: calc(25% - #{$unit * 14});
      }
    }

    &.is-right {
      margin-right: calc(25% - #{$unit * 12.5});

      .has-inset-media > & {
        margin-right: calc(25% - #{$unit * 14});
      }
    }
  }

  @media #{$mq-lg} {
    &.is-left,
    &.is-right {
      max-width: $unit * 35;
    }

    .has-inset-media > &.is-left,
    .has-inset-media > &.is-right {
      max-width: $unit * 30;
    }
  }

  @media #{$mq-xl} {
    &.is-left {
      margin-left: calc(25% - #{$unit * 17.5});
    }

    &.is-right {
      margin-right: calc(25% - #{$unit * 17.5});
    }
  }

  .Header.is-floating + .Block > &:nth-child(2) {
    margin-top: calc(100vh - var(--Main-offsetTop));
  }

  & > * {
    flex-shrink: 0;
    margin: 0 !important;
    padding: $unit * 0.75 $unit * 1.75;

    :where(.is-future) & {
      &:first-child {
        border-start-start-radius: $radius;
        border-start-end-radius: $radius;
      }
      &:last-child {
        border-end-end-radius: $radius;
        border-end-start-radius: $radius;
      }
    }

    @media #{$mq-gt-md} {
      padding: $unit * 1.125 $unit * 1.75;
    }
  }

  .is-piecemeal > & {
    > :first-child {
      margin-top: 40vh !important;
    }

    &:nth-child(2) > :first-child {
      margin-top: 80vh !important;
    }

    > :last-child {
      margin-bottom: 40vh !important;
    }
  }

  .is-piecemeal.has-inset-media > &:nth-child(2) > :first-child {
    @media #{$mq-gt-md} {
      margin-top: 40vh !important;
    }
  }

  &.u-richtext > * {
    .is-not-piecemeal & {
      :where(.is-legacy) & {
        background-color: $color-white-transparent-75;
      }
    }

    .is-piecemeal & {
      :where(.is-legacy) & {
        background-color: $color-white-transparent-90;
      }
    }
  }

  &.u-richtext-invert > * {
    .is-not-piecemeal & {
      :where(.is-legacy) & {
        background-color: $color-black-transparent-30;
      }
    }

    .is-piecemeal & {
      :where(.is-legacy) & {
        background-color: $color-black-transparent-60;
      }
    }
  }

  & > :first-child {
    padding-top: $unit * 1.5;

    @media #{$mq-gt-md} {
      padding-top: $unit * 2.25;
    }

    .is-not-piecemeal > & {
      :where(.is-legacy) & {
        padding-top: $unit * 5;
      }
    }
  }

  & > :last-child {
    padding-bottom: $unit * 1.5;

    @media #{$mq-gt-md} {
      padding-bottom: $unit * 2.25;
    }

    .is-not-piecemeal > & {
      :where(.is-legacy) & {
        padding-bottom: $unit * 5;
      }
    }
  }

  & > a[id],
  & > a[name],
  & > [data-mount] {
    padding: 0;
  }

  & > h2 {
    max-width: 100%;
  }

  // Simulate old header block type (with specificity hack)
  .Block.Block > &:nth-child(2):last-child > h2 {
    margin-top: auto !important;
    margin-bottom: 0 !important;
  }

  .is-piecemeal > & {
    & > h4,
    & > p,
    & > ul li,
    & > ol li,
    & > blockquote {
      :where(.is-future) & {
        font-size: var(--od-font-size);
      }
      @media #{$mq-md} {
        font-size: 1.25rem;
        :where(.is-future) & {
          font-size: var(--od-font-size);
        }
      }

      @media #{$mq-gt-md} {
        font-size: 1.375rem;
        :where(.is-future) & {
          font-size: var(--od-font-size);
        }
      }
    }
  }

  [class*='u-pull'] {
    float: none;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
  }
}

:where(.is-legacy) {
  .is-not-piecemeal {
    .Block-content[class*='u-richtext'] > div > * {
      margin: 0;
      padding-top: 18px;
      padding-bottom: 18px;
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

:where(.is-future) {
  .is-not-piecemeal {
    .Block-content[class*='u-richtext'] > div > * {
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .is-not-piecemeal,
  .is-piecemeal {
    .Block-content[class*='u-richtext'] > * {
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      position: relative;
      overflow: hidden;
      // This section is a little convoluted.
      // The reason the background colour is applied as a pseudo element and not
      // as a simple background colour is that we want to be able to utilise the
      // global --bg variable to take the tint from the background of the page
      // Unfortunately, that colour doesn't have any opacity, so we need to add
      // that. This may become possible with the color() function as browser
      // support improves.
      // Adding opacity to the entire element has two down sides (1) transparency
      // on the text and (2) backdrop-filter() only works with background- styles
      // which have some transparency.
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--bg, var(--od-colour-theme-surface-over-image));
        transition: background-color 2s;
      }
    }
  }
}
