@import '../../../constants';

.Block-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - #{$layout-fluid-gutter});
  max-width: 40rem;
  min-height: 100vh;

  @media #{$mq-lg} and #{$mq-not-xl} {
    &.is-left,
    &.is-right {
      max-width: 35rem;
    }
  }

  @media #{$mq-lg} {
    &.is-left {
      margin-left: calc(25% - 12.5rem);
    }

    &.is-right {
      margin-right: calc(25% - 12.5rem);
    }
  }

  @media #{$mq-xl} {
    &.is-left {
      margin-left: calc(25% - 17.5rem);
    }

    &.is-right {
      margin-right: calc(25% - 17.5rem);
    }
  }

  .Header.is-floating + .Block > & {
    margin-top: calc(100vh - #{$abc-nav-height});
  }

  & > * {
    margin: 0 !important;
    padding: 0.75rem 1.75rem;

    @media #{$mq-lg} {
      padding: 1.125rem 1.75rem;
    }
  }

  .is-piecemeal > & {
    & > :first-child {
      margin-top: 40vh !important;
    }

    &:nth-child(2) > :first-child {
      margin-top: 80vh !important;
    }

    & > :last-child {
      margin-bottom: 40vh !important;
    }
  }

  &.u-richtext > * {
    .is-not-piecemeal & {
      background-color: $color-white-transparent-75;
    }

    .is-piecemeal & {
      background-color: $color-white-transparent-90;
    }
  }

  &.u-richtext-invert > * {
    .is-not-piecemeal & {
      background-color: $color-black-transparent-30;
    }

    .is-piecemeal & {
      background-color: $color-black-transparent-60;
    }
  }

  & > :first-child {
    padding-top: 1.5rem;

    @media #{$mq-lg} {
      padding-top: 2.25rem;
    }

    .is-not-piecemeal > & {
      padding-top: 5rem;
    }
  }

  & > :last-child {
    padding-bottom: 1.5rem;

    @media #{$mq-lg} {
      padding-bottom: 2.25rem;
    }

    .is-not-piecemeal > & {
      padding-bottom: 5rem;
    }
  }

  & > a[name] {
    padding: 0;
  }

  .is-piecemeal > & {
    & > h4,
    & > p,
    & > ul li,
    & > ol li,
    & > blockquote {
      @media #{$mq-md} {
        font-size: 1.25rem;
      }

      @media #{$mq-lg} {
        font-size: 1.375rem;
      }
    }
  }

  [class*='u-pull'] {
    float: none;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
  }
}
