@import '../../../constants';

.Block {
  overflow: hidden;
  position: relative;
  margin-top: 0;
  min-height: 100vh;
  line-height: 1.5;

  @media #{$mq-landscape} and #{$mq-not-lg}, #{$mq-lg} {
    min-height: 56.25vw;
  }

  &.has-dark {
    background-color: $color-black;
  }

  &.has-light {
    background-color: $color-white;
  }
}

@import './media';
@import './content';
