@import '../../../constants';

.Block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  margin-top: 0;
  line-height: 1.5;

  &.is-richtext {
    min-height: 100vh;
  }

  @media #{$mq-landscape} and #{$mq-not-lg}, #{$mq-lg} {
    min-height: 56.25vw;
  }

  &.is-heading,
  &.is-richtext {
    background-color: $color-black;
  }

  &.is-richtext {
    justify-content: center;
  }
}

.Block-media {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.is-fixed {
    clip: rect(0, auto, auto, 0);
    -webkit-clip-path: inset(0 0 0 0);

    & > * {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh; // https://github.com/bokand/URLBarSizing

      // Safari (7.1+)
      _::-webkit-full-page-media,
      _:future,
      :root & {
        -webkit-transform: translateZ(0);
      }
    }
  }

  .has-inset-media & > * {
    @media #{$mq-lg} {
      position: fixed;
      transform: translate(0, -50%);
      top: 50vh;
      right: calc(30% - 17.5rem);
      left: auto;
      width: 33rem;
      height: auto;
    }

    @media (min-width: 112.5rem) {
      right: calc(30% - 25.75rem);
      width: 44rem;
    }
  }

  .has-inset-media &:not(.is-fixed) {
    @media #{$mq-not-lg} {
      clip: rect(0, auto, auto, 0);
      -webkit-clip-path: inset(0 0 0 0);
    }
  }

  .has-inset-media &:not(.is-fixed) > * {
    position: absolute;

    @media #{$mq-not-lg} {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    }
  }

  &.is-beyond {
    position: absolute;
    top: auto;
    bottom: 0;
  }

  .is-richtext & {
    max-height: 100vh;

    &.is-fixed {
      max-height: none;
    }
  }

  .is-heading & {
    position: static;
    height: auto;
  }

  .is-heading &::after,
  .is-richtext &::after,
  .is-richtext:not(.is-piecemeal) & > *::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .is-richtext:not(.is-piecemeal) &.is-fixed > *::after {
    will-change: opacity; // create stacking context
  }

  .is-heading &::after {
    background-image: $gradient-black-vertical-40-0-80-60;
  }

  .is-richtext:not(.is-piecemeal) &::after {
    background-color: $color-black-transparent-30;
  }

  .is-richtext:not(.is-piecemeal) & > *::after {
    background-image: $gradient-black-vertical-50-0-100-60;
  }

  @media #{$mq-lg} {
    .is-left &::after,
    .is-right &::after {
      background-color: transparent;
    }

    .is-left:not(.is-piecemeal) &::after,
    .is-right:not(.is-piecemeal) &::after {
      background-image: $gradient-black-horizontal-40-45-65-0;
    }

    .is-right:not(.is-piecemeal) &::after {
      transform: scaleX(-1);
    }
  }

  > * {
    height: 100%;
  }

  video {
    z-index: -1;
  }

  .background-transition {
    /* fade between colours  */
    &.colour {
      transition: all 0.3s ease;

      &.transition-in {
        animation: blackIn 1s linear forwards 1;
      }

      &.transition-out {
        animation: blackOut 1s linear forwards 1;
      }

      @keyframes blackIn {
        0% {
          opacity: 0;
          // filter: saturate(0);
        }
        50% {
          opacity: 0;
          // filter: saturate(0);
        }
        100% {
          opacity: 1;
          // filter: saturate(1);
        }
      }

      @keyframes blackOut {
        0% {
          opacity: 1;
          // filter: saturate(1);
        }
        50% {
          opacity: 0;
          // filter: saturate(0);
        }
        100% {
          opacity: 0;
          // filter: saturate(0);
        }
      }
    }

    /* fading between the two cards  */

    &.crossfade {
      &.transition-in {
        opacity: 0;
        z-index: 10;
        animation: fadeIn 1s ease 0s 1 normal forwards;
      }

      &.transition-out {
        opacity: 1;
        z-index: 9;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    &.bouncefade {
      &.transition-in {
        z-index: 10;
        animation: bounceFadeIn 1s ease 0s 1 normal forwards;
      }

      &.transition-out {
        z-index: 9;
        animation: bounceFadeOut 1s ease 0s 1 normal forwards;
      }

      @keyframes bounceFadeIn {
        0% {
          opacity: 0;
          transform: translate(0, 20px);
        }
        100% {
          opacity: 1;
          transform: translate(0, 0);
        }
      }

      @keyframes bounceFadeOut {
        0% {
          opacity: 1;
          transform: translate(0, 0);
        }
        100% {
          opacity: 1;
          transform: translate(0, 20px);
        }
      }
    }

    &.zoomfade {
      &.transition-in {
        z-index: 9;
        opacity: 1;
      }

      &.transition-out {
        z-index: 10;
        animation: zoomFadeOut 1s ease 0s 1 normal forwards;
      }

      @keyframes zoomFadeOut {
        0% {
          opacity: 1;
          transform: scale(1);
        }
        100% {
          opacity: 0;
          transform: scale(1.15);
        }
      }
    }

    /* Sliding around */

    &.slideup {
      transition: all 1s ease;

      &.transition-in {
        animation: slideupIn 0.5s linear 0s 1 forwards;
      }

      &.transition-out {
        animation: slideupOut 0.5s linear 0s 1 forwards;
      }

      @keyframes slideupIn {
        0% {
          transform: translate(0, 100%);
        }
        100% {
          transform: translate(0, 0);
        }
      }

      @keyframes slideupOut {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(0, -100%);
        }
      }
    }

    &.slidedown {
      transition: all 1s ease;

      &.transition-in {
        animation: slidedownIn 0.5s linear 0s 1 forwards;
      }

      &.transition-out {
        animation: slidedownOut 0.5s linear 0s 1 forwards;
      }

      @keyframes slidedownIn {
        0% {
          transform: translate(0, -100%);
        }
        100% {
          transform: translate(0, 0);
        }
      }

      @keyframes slidedownOut {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(0, 100%);
        }
      }
    }

    &.slideright {
      transition: all 1s ease;

      &.transition-in {
        animation: sliderightIn 0.5s linear 0s 1 forwards;
      }

      &.transition-out {
        animation: sliderightOut 0.5s linear 0s 1 forwards;
      }

      @keyframes sliderightIn {
        0% {
          transform: translate(100%, 0);
        }
        100% {
          transform: translate(0, 0);
        }
      }

      @keyframes sliderightOut {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(-100%, 0);
        }
      }
    }

    &.slideleft {
      transition: all 1s ease;

      &.transition-in {
        animation: slidelefttIn 0.5s linear 0s 1 forwards;
      }

      &.transition-out {
        animation: slidelefttOut 0.5s linear 0s 1 forwards;
      }

      @keyframes slidelefttIn {
        0% {
          transform: translate(-100%, 0);
        }
        100% {
          transform: translate(0, 0);
        }
      }

      @keyframes slidelefttOut {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(100%, 0);
        }
      }
    }

    /* Swap in cards, like shuffling */

    &.shuffle {
      // transition: all 1s ease;

      &.transition-in {
        z-index: 9;
        animation: shuffleIn 1s linear 0s 1 forwards;
      }

      &.transition-out {
        z-index: 10;
        animation: shuffleOut 1s linear 0s 1 forwards;
      }

      @keyframes shuffleIn {
        0% {
          opacity: 0;
          transform: scale(0.25) translate(0, 0);
        }
        50% {
          opacity: 0.5;
          transform: scale(0.5) translate(-100%, 0) rotate(-10deg);
        }
        100% {
          opacity: 1;
          transform: scale(1) translate(0, 0);
        }
      }

      @keyframes shuffleOut {
        0% {
          opacity: 1;
          transform: scale(1) translate(0, 0);
        }
        35% {
          opacity: 0.5;
          transform: scale(0.5) translate(100%, 0) rotate(10deg);
        }
        100% {
          opacity: 0;
          transform: scale(0.25) translate(0, 0);
        }
      }
    }
  }
}

.Block-content {
  position: relative;
  z-index: 1;

  .is-richtext > & {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
      width: calc(#{cells(10)} + 0.75rem);
      height: 100%;
      background-color: $color-black-transparent-30;

      @media #{$mq-md} {
        width: calc(#{cells(10)} + 1.75rem);
      }

      @media #{$mq-lg} {
        width: calc(#{cells(8)} + 2rem);
      }
    }

    &.u-richtext:before {
      background-color: $color-white-transparent-90;
    }

    & > * {
      @media #{$mq-sm} {
        width: cells(10);
      }
    }

    &:last-child > :last-child {
      margin-bottom: 0;
    }
  }

  .is-richtext:not(.is-piecemeal) > &:last-child {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .Header.is-floating + & {
      margin-top: calc(140vh - #{$abc-nav-height + $size-bar});
      margin-bottom: calc(40vh);
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      @media #{$mq-lg} {
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
      }
    }
  }

  .is-piecemeal > & {
    margin-top: 40vh;
    margin-bottom: 40vh;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @media #{$mq-lg} {
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;
    }

    &:nth-child(2) {
      margin-top: 100vh;

      .Header.is-floating + & {
        margin-top: calc(180vh - #{$abc-nav-height + $size-bar});
      }
    }

    &:last-child {
      margin-bottom: 50vh;
    }

    &::before {
      background-color: $color-black-transparent-60;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    & > h4,
    & > p,
    & > ul li,
    & > ol li,
    & > blockquote {
      @media #{$mq-md} {
        font-size: 1.25rem;
      }

      @media #{$mq-lg} {
        font-size: 1.375rem;
      }
    }
  }

  .is-piecemeal.has-inset-media > &:nth-child(2) {
    margin-top: 40vh;
  }

  .is-richtext > & [class*='u-pull'] {
    float: none;
    margin-left: auto !important;
    margin-right: auto !important;
    width: cells(10);

    @media #{$mq-lg} {
      width: cells(8);
    }
  }

  @media #{$mq-lg} {
    .is-richtext.is-left > &,
    .is-richtext.is-right > &,
    .is-richtext > &.is-left,
    .is-richtext > &.is-right {
      width: 49.5rem;
    }

    .is-richtext.is-left > &,
    .is-richtext > &.is-left {
      margin-left: calc(30% - 24.75rem);
    }

    .is-richtext.is-right > &,
    .is-richtext > &.is-right {
      margin-right: calc(30% - 24.75rem);
    }

    .is-richtext > &.is-center {
      width: 61.25rem;
      margin-right: auto;
      margin-left: auto;
    }

    .has-inset-media.is-richtext.is-left > &,
    .has-inset-media.is-richtext > &.is-left {
      margin-left: calc(27% - 24.75rem);
    }
  }

  .is-heading > & {
    position: absolute;
    bottom: 0;
    max-width: 100%;
  }

  .is-heading > & {
    width: 100%;
  }
}

.Block-content > h2 {
  .is-heading & {
    margin-top: 3rem;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-left: auto;
    font-family: $font-serif;
    font-size: 2rem;
    text-align: center;

    @media #{$mq-not-sm} {
      font-size: 3rem;
    }

    @media #{$mq-md} {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }

    @media #{$mq-lg} {
      margin-top: 7rem;
      margin-bottom: 7rem;
    }
  }
}
