@import '../../../constants';

.Block {
  overflow: hidden;
  position: relative;
  margin-top: 0;
  min-height: 100vh;
  line-height: 1.5;

  @media #{$mq-gt-md}, #{$mq-landscape} and #{$mq-lt-lg} {
    min-height: 56.25vw;
    min-height: var(--vw-ratio-16x9);
  }

  :root:not(.is-dark-mode) &.has-dark {
    background-color: $color-darkBg;
  }

  :root.is-dark-mode &.has-light {
    background-color: $color-lightBg;
  }
}

@import './media';
@import './content';
