@import '../../../constants';
@import '../../../keyframes';

.Block-media {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 100vh;

  &.is-fixed {
    clip: rect(0, auto, auto, 0);
    -webkit-clip-path: inset(0 0 0 0);
    max-height: none;

    & > * {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh; // https://github.com/bokand/URLBarSizing

      // Safari (7.1+)
      _::-webkit-full-page-media,
      _:future,
      :root & {
        -webkit-transform: translateZ(0);
      }
    }
  }

  .has-inset-media & > :not(.Block-mediaCaption) {
    @media #{$mq-gt-md} {
      position: fixed;
      transform: translate(0, -50%);
      top: 50vh;
      width: 33rem;
      max-width: 42.5%;
      height: auto;

      // Safari (7.1+)
      _::-webkit-full-page-media,
      _:future,
      :root & {
        -webkit-transform: translate(0, -50%);
      }
    }

    @media #{$mq-xl} {
      width: 44rem;
    }
  }

  .has-inset-media.has-left & > :not(.Block-mediaCaption) {
    @media #{$mq-gt-md} {
      right: calc(30% - 16rem);
      left: auto;
    }

    @media #{$mq-xl} {
      right: calc(30% - 25.75rem);
    }
  }

  .has-inset-media.has-right & > :not(.Block-mediaCaption) {
    @media #{$mq-gt-md} {
      right: auto;
      left: calc(30% - 16rem);
    }

    @media #{$mq-xl} {
      left: calc(30% - 25.75rem);
    }
  }

  .has-inset-media &:not(.is-fixed) {
    @media #{$mq-lt-lg} {
      clip: rect(0, auto, auto, 0);
      -webkit-clip-path: inset(0 0 0 0);
    }
  }

  .has-inset-media &:not(.is-fixed) > :not(.Block-mediaCaption) {
    position: absolute;

    @media #{$mq-lt-lg} {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
    }
  }

  &.is-beyond {
    position: absolute;
    top: auto;
    bottom: 0;

    .transition-out {
      display: none;
    }

    .transition-in {
      transition-duration: 0s !important;
      animation-duration: 0s !important;
      transition-delay: 0s !important;
      animation-delay: 0s !important;
    }
  }

  > * {
    height: 100%;
  }

  > *::after {
    .is-not-piecemeal & {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .is-not-piecemeal.has-dark & {
      background-color: $color-black-transparent-30;
      background-image: $gradient-black-vertical-50-0-100-60;
    }

    .is-not-piecemeal.has-light & {
      background-color: $color-white-transparent-30;
      background-image: $gradient-white-vertical-50-0-100-60;
    }

    @media #{$mq-gt-md} {
      .has-left.is-not-piecemeal &,
      .has-right.is-not-piecemeal & {
        background-color: transparent;
      }

      .has-left.has-dark.is-not-piecemeal &,
      .has-right.has-dark.is-not-piecemeal & {
        background-image: #{$gradient-black-vertical-50-0-100-60}, #{$gradient-black-horizontal-40-45-65-0};
      }

      .has-left.has-light.is-not-piecemeal &,
      .has-right.has-light.is-not-piecemeal & {
        background-image: #{$gradient-white-vertical-50-0-100-60}, #{$gradient-white-horizontal-40-45-65-0};
      }

      .has-right.is-not-piecemeal & {
        transform: scaleX(-1);
      }
    }
  }

  .is-not-piecemeal & {
    img,
    video {
      z-index: -1;
    }
  }

  .background-transition {
    /* fade between colours  */
    &.colour {
      transition: all 0.3s ease;

      &.transition-in {
        animation: blackIn 1s linear forwards 1;
      }

      &.transition-out {
        animation: blackOut 1s linear forwards 1;
      }
    }

    /* fading between the two cards  */

    &.crossfade {
      &.transition-in {
        opacity: 0;
        z-index: 1;
        animation: fadeIn 1s ease 0s 1 normal forwards;
      }

      &.transition-out {
        opacity: 1;
        z-index: 0;
      }
    }

    &.bouncefade {
      &.transition-in {
        z-index: 1;
        animation: bounceFadeIn 1s ease 0s 1 normal forwards;
      }

      &.transition-out {
        z-index: 0;
        animation: bounceFadeOut 1s ease 0s 1 normal forwards;
      }
    }

    &.zoomfade {
      &.transition-in {
        z-index: 0;
        opacity: 1;
      }

      &.transition-out {
        z-index: 1;
        animation: zoomFadeOut 1s ease 0s 1 normal forwards;
      }
    }

    /* Sliding around */

    &.slideup {
      transition: all 1s ease;

      &.transition-in {
        animation: slideupIn 0.5s linear 0s 1 forwards;
      }

      &.transition-out {
        animation: slideupOut 0.5s linear 0s 1 forwards;
      }
    }

    &.slidedown {
      transition: all 1s ease;

      &.transition-in {
        animation: slidedownIn 0.5s linear 0s 1 forwards;
      }

      &.transition-out {
        animation: slidedownOut 0.5s linear 0s 1 forwards;
      }
    }

    &.slideright {
      transition: all 1s ease;

      &.transition-in {
        animation: sliderightIn 0.5s linear 0s 1 forwards;
      }

      &.transition-out {
        animation: sliderightOut 0.5s linear 0s 1 forwards;
      }
    }

    &.slideleft {
      transition: all 1s ease;

      &.transition-in {
        animation: slidelefttIn 0.5s linear 0s 1 forwards;
      }

      &.transition-out {
        animation: slidelefttOut 0.5s linear 0s 1 forwards;
      }
    }

    /* Swap in cards, like shuffling */

    &.shuffle {
      // transition: all 1s ease;

      &.transition-in {
        z-index: 0;
        animation: shuffleIn 1s linear 0s 1 forwards;
      }

      &.transition-out {
        z-index: 1;
        animation: shuffleOut 1s linear 0s 1 forwards;
      }
    }
  }
}

.Block-mediaCaption {
  transition: opacity 0.5s;
  opacity: 0;
  z-index: 1;

  .is-fixed > & {
    opacity: 1;
  }

  .Caption {
    position: absolute;
    bottom: 0;
    margin-left: 0;
    max-width: 100%;
    min-height: 0;
    background-color: $color-black-transparent-60;
    color: $color-lightBg;
    pointer-events: none;
    animation: fadeIn 1s;

    .has-light & {
      background-color: $color-white-transparent-75;
      color: $color-black;
    }

    .has-hidden-caption-titles & {
      padding-top: 0.4rem;
      padding-bottom: 0.45rem;

      @media #{$mq-sm} {
        padding: 0.0625rem 0.625rem 0.1875rem;
      }
    }
  }

  .has-hidden-caption-titles & .Caption > :not(.Caption-attribution) {
    display: none;
  }

  .Caption-attribution {
    color: $color-grey-100;

    .has-light & {
      color: $color-grey-500;
    }

    .has-hidden-caption-titles & {
      @media #{$mq-sm} {
        font-size: 0.625rem;
      }
    }
  }
}
