.Main {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img,
  video,
  iframe,
  object {
    max-width: 100%;
    height: auto;
  }

  > a[name] {
    padding: 0;
  }

  > h2 {
    &::before {
      content: "";
      display: block;
      margin: 3rem auto 1rem;
      width: 7.5rem;
      height: 1px;
      background-color: $color-grey-400;

      @media #{$mq-md} {
        margin: 4rem auto 1.5rem;
      }

      @media #{$mq-lg} {
        margin: 5rem auto 1.5rem;
      }
    }

    @media #{$mq-md} {
      padding-bottom: .5rem;
    }

    @media #{$mq-lg} {
      padding-bottom: 1rem;
    }
  }
}
