.Main {
  font-family: $font-serif;
  font-size: 1.125rem;
  line-height: 1.666666667;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3 {
    font-family: $font-serif;
    font-weight: bold;
  }

  a,
  a > * {
    color: $color-darkPrimary;
  }

  img,
  video,
  picture,
  iframe,
  embed {
    max-width: 100%;
  }
}
