@import '../../../constants';
@import './variables';

.Main {
  --Main-offsetTop: #{$var--Main-offsetTop};
  display: block;
  line-height: normal;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  img,
  video,
  iframe,
  object {
    max-width: 100%;
  }

  button {
    border-radius: 0;
  }

  a {
    text-decoration: none;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
    text-decoration-skip: ink;
  }
}
