.VideoEmbed {
  &.u-full {
    height: 100vh;
  }

  &:not(.u-pull) {
    margin-bottom: 1.5rem;
  }

  @media #{$mq-not-lg} {
    .Main > & {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  > video {
    width: 100%;
    vertical-align: top;

    &.IIV::-webkit-media-controls-play-button,
		&[autoplay]::-webkit-media-controls-start-playback-button {
			opacity: 0;
			width: 5px;
			pointer-events: none;
		}
  }

  &.u-full > video {
    height: 100%;
    object-fit: cover; font-family: 'object-fit: cover;';

    // @media (min-aspect-ratio: 16/9) {
		// 	object-fit: contain; font-family: 'object-fit: contain;';
		// }
  }

  > .Caption {


    @media #{$mq-not-lg} {
      .Main > & {
        padding-left: $layout-fluid-padding;
        padding-right: $layout-fluid-padding;
      }
    }
  }

  &.u-full {
    > .Caption {
      display: none;
    }
  }
}
