.VideoEmbed {
  &.u-full {
    height: 100vh;
    min-height: 56.25vw;
  }

  &:not(.u-pull):not(.u-full) {
    margin-bottom: 1.5rem;
  }

  @media #{$mq-sm} {
    .Main > [class*="u-pull"] > & {
      margin-left: -$layout-fluid-padding;
      margin-right: -$layout-fluid-padding;
    }
  }

  @media #{$mq-not-lg} {
    .Main > & {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  &.u-full {
    > .Caption {
      display: none;
    }
  }
}


