@use '../../constants' as *;

.VideoEmbed {
  &.u-full {
    min-height: 56.25vw;
    min-height: var(--vw-ratio-16x9);

    &.is-cover {
      height: 100vh;
    }
  }

  &:not(.u-pull):not(.u-full) {
    :where(.is-legacy) {
      margin-bottom: $unit * 1.5;
    }
  }

  @media #{$mq-sm} {
    .Main > & {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }

    .Main > [class*='u-pull'] > & {
      margin-left: -$layout-fluid-padding;
      margin-right: -$layout-fluid-padding;
    }
  }

  @media #{$mq-md} {
    .Main > &:not([class*='u-pull-']) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }
}

:where(.is-future) {
  .VideoEmbed {
    margin-top: var(--od-space-component-margin);
    margin-bottom: var(--od-space-component-margin);
  }
}
