$rem: 16px;

$font-sans: "ABCSans", Arial, Helvetica, sans-serif;
$font-serif: "ABCSerif", "Times New Roman", Georgia, serif;
$font-condensed: "ABCSans Condensed", "ABCSans", Arial, Helvetica, sans-serif;

$color-white: #fff;
$color-black: #000;
$color-white-transparent: rgba(255, 255, 255, 0);

$color-grey-50: #f9f9f9;
$color-grey-50-transparent: rgba(249, 249, 249, 0);
$color-grey-75: #f3f3f3;
$color-grey-100: #eee;
$color-grey-200: #dedede;
$color-grey-300: #d2d2d2;
$color-grey-400: #bbb;
$color-grey-500: #898989;
$color-grey-600: #666;
$color-grey-700: #444;
$color-grey-800: #333;
$color-grey-900: #111;

$color-grey-brand: #1c1c1c;

$color-lightestPrimary: #a5daf3;
$color-lighterPrimary: #01ceff;
$color-lightPrimary: #68e1FF;
$color-primary: #007aff;
$color-darkPrimary: #0073a8;
$color-darkerPrimary: #315768;

$color-lightSecondary: #f1ccf3;
// $color-secondary: ;
$color-darkSecondary: #69236b;

$color-tertiary: #ffbf00;
$color-darkTertiary: #7b3b3b;

$color-transparent-black-10: rgba(0, 0, 0, .1);
$color-transparent-black-40: rgba(0, 0, 0, .4);
$color-transparent-black-50: rgba(0, 0, 0, .5);

$gradient-vertical-0-0-100-60: linear-gradient(to bottom, $color-white-transparent 0%, rgba(0,0,0,.6) 100%);
$gradient-vertical-0-43-100-75: linear-gradient(to bottom, rgba(0,0,0,.43) 0%, rgba(0,0,0,.75) 100%);
$gradient-vertical-40-0-80-60: linear-gradient(to bottom, $color-white-transparent 40%, rgba(0,0,0,.6) 80%);
$gradient-vertical-50-0-100-50: linear-gradient(to bottom, $color-white-transparent 50%, rgba(0,0,0,.5) 100%);

$gradient-horizontal-bg-0-0-75-100: linear-gradient(to right, $color-grey-50-transparent 0%, $color-grey-50 75%);
$gradient-horizontal-45-40-65-0: linear-gradient(to right, rgba(0,0,0,.4) 45%, rgba(0,0,0,0) 65%);

@function cells($numColumns, $totalColumns: 12) {
  @return $numColumns / $totalColumns * 100%;
}

$layout-fluid: 100%;
$layout-fixed: 980px;
$layout-fluid-gutter: 30px;
$layout-fixed-gutter: 28px;
$layout-fluid-padding: $layout-fluid-gutter / 2;
$layout-fixed-padding: $layout-fixed-gutter / 2;

$mq-sm: "(max-width: 699px)";
$mq-md: "(min-width: 700px) and (max-width: 979px)";
$mq-lg: "(min-width: 980px)";
$mq-not-sm: "(min-width: 700px)";
$mq-not-md: "(max-width: 699px), (min-width: 980px)";
$mq-not-lg: "(max-width: 979px)";
$mq-portrait: "(orientation: portrait)";
$mq-landscape: "(orientation: landscape)";
