$rem: 16px;

$font-sans: 'ABCSans', Helvetica, Arial, sans-serif;
$font-serif: 'ABCSerif', 'Book Antiqua', 'Palatino Linotype', Palatino, serif;

$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0);
$color-white-transparent-30: rgba(255, 255, 255, 0.3);
$color-white-transparent-45: rgba(255, 255, 255, 0.45);
$color-white-transparent-60: rgba(255, 255, 255, 0.6);
$color-white-transparent-75: rgba(255, 255, 255, 0.75);
$color-white-transparent-90: rgba(255, 255, 255, 0.9);

$color-black: #000;
$color-black-transparent: rgba(0, 0, 0, 0);
$color-black-transparent-30: rgba(0, 0, 0, 0.3);
$color-black-transparent-45: rgba(0, 0, 0, 0.45);
$color-black-transparent-60: rgba(0, 0, 0, 0.6);
$color-black-transparent-75: rgba(0, 0, 0, 0.75);
$color-black-transparent-93: rgba(0, 0, 0, 0.93);

$color-grey-100: #d2d2d2;
$color-grey-200-transparent-30: rgba(196, 196, 196, 0.3);
$color-grey-300: #b3b3b3;
$color-grey-300-transparent-15: rgba(179, 179, 179, 0.15);
$color-grey-300-transparent-70: rgba(179, 179, 179, 0.7);
$color-grey-500: #666;
$color-grey-500-transparent-65: rgba(102, 102, 102, 0.65);
$color-grey-900: #111;

$color-lightBg: #f9f9f9;
$color-darkBg: $color-black;

$color-lighterPrimary: #a5daf3;
$color-lightPrimary: #68e1ff;
$color-darkPrimary: #0073a8;
$color-darkerPrimary: #315768;

$color-lightSecondary: #f1ccf3;
$color-darkSecondary: #69236b;

$gradient-white-vertical-0-0-100-60: linear-gradient(
  to bottom,
  $color-white-transparent 0%,
  $color-white-transparent-60 100%
);
$gradient-white-vertical-50-0-100-60: linear-gradient(
  to bottom,
  $color-white-transparent 50%,
  $color-white-transparent-60 100%
);
$gradient-white-horizontal-40-45-65-0: linear-gradient(
  to right,
  $color-white-transparent-45 40%,
  $color-white-transparent 65%
);

$gradient-black-vertical-0-0-100-60: linear-gradient(
  to bottom,
  $color-black-transparent 0%,
  $color-black-transparent-60 100%
);
$gradient-black-vertical-50-0-100-60: linear-gradient(
  to bottom,
  $color-black-transparent 50%,
  $color-black-transparent-60 100%
);
$gradient-black-vertical-0-45-100-75: linear-gradient(
  to bottom,
  $color-black-transparent-45 0%,
  $color-black-transparent-75 100%
);
$gradient-black-horizontal-40-45-65-0: linear-gradient(
  to right,
  $color-black-transparent-45 40%,
  $color-black-transparent 65%
);

@function cells($numColumns, $totalColumns: 12) {
  @return $numColumns / $totalColumns * 100%;
}

$layout-fluid: 100%;
$layout-fixed: 61.25rem;
$layout-fluid-gutter: 1.875rem;
$layout-fixed-gutter: 1.75rem;
$layout-fluid-padding: $layout-fluid-gutter / 2;
$layout-fixed-padding: $layout-fixed-gutter / 2;

$mq-lt-md: '(max-width: 43.6875rem)';
$mq-gt-sm: '(min-width: 43.75rem)';
$mq-lt-lg: '(max-width: 61.1875rem)';
$mq-gt-md: '(min-width: 61.25rem)';
$mq-lt-xl: '(max-width: 112.4375rem)';
$mq-gt-lg: '(min-width: 112.5rem)';
$mq-sm: $mq-lt-md;
$mq-md: '#{$mq-gt-sm} and #{$mq-lt-lg}';
$mq-lg: '#{$mq-gt-md} and #{$mq-lt-xl}';
$mq-xl: $mq-gt-lg;
$mq-portrait: '(orientation: portrait)';
$mq-landscape: '(orientation: landscape)';
$mq-gt-4-3: '(min-aspect-ratio: 4/3)';
$mq-pl-sm: '(max-width: 33.9375em)';

$size-control: 2.5rem;
$size-control-margin: 0.1875rem;
