@import './constants';

$url-fonts-root: 'http://www.abc.net.au/res/fonts/';
$url-font-sans: '#{$url-fonts-root}abcsans/abcsans';
$url-font-serif: '#{$url-fonts-root}abcserif/abcserif';

@font-face {
  font-family: 'ABCSans';
  font-weight: normal;
  font-style: normal;
  src: url('#{$url-font-sans}-regular.woff2') format('woff2'), url('#{$url-font-sans}-regular.woff') format('woff');
}

@font-face {
  font-family: 'ABCSans';
  font-weight: normal;
  font-style: italic;
  src: url('#{$url-font-sans}-regularitalic.woff2') format('woff2'),
    url('#{$url-font-sans}-regularitalic.woff') format('woff');
}

@font-face {
  font-family: 'ABCSans';
  font-weight: bold;
  font-style: normal;
  src: url('#{$url-font-sans}-bold.woff2') format('woff2'), url('#{$url-font-sans}-bold.woff') format('woff');
}

@font-face {
  font-family: 'ABCSerif';
  font-weight: normal;
  font-style: normal;
  src: url('#{$url-font-serif}-regular.woff2') format('woff2'), url('#{$url-font-serif}-regular.woff') format('woff');
}

@font-face {
  font-family: 'ABCSerif';
  font-weight: normal;
  font-style: italic;
  src: url('#{$url-font-serif}-regular_italic.woff2') format('woff2'),
    url('#{$url-font-serif}-regular_italic.woff') format('woff');
}

@font-face {
  font-family: 'ABCSerif';
  font-weight: bold;
  font-style: normal;
  src: url('#{$url-font-serif}-bold.woff2') format('woff2'), url('#{$url-font-serif}-bold.woff') format('woff');
}
