@import '../../../constants';

.Share {
  color: $color-grey-500;

  .u-richtext-invert & {
    color: $color-white;
  }
}

.Share-title {
  margin-bottom: 0.375rem;
  font-family: $font-sans;
  font-size: 0.8125rem;
  font-weight: bold;
  text-transform: uppercase;
}
