@import '../../../constants';

.Share {

}

.Share-title {
  margin-bottom: .375rem;
  color: $color-grey-600;
  font-family: $font-sans;
  font-size: .8125rem;
  font-weight: bold;
  text-transform: uppercase;
}
