html.is-master-gallery-open {
  overflow: hidden;

  #abcHeader {
    display: none;
  }

  .Nav {
    @media #{$mq-not-lg} and #{$mq-gt-4-3} {
      display: none;
    }
  }

  .Nav-bar {
    transform: none;
  }
}

.MasterGallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  opacity: 0;
  transform: translate(0, 102%);
  z-index: 2;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: $size-bar;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  width: var(--screen-width);
  height: 100%;
  height: var(--screen-height);
  background-color: $color-black-transparent-93;
  transition: opacity .125s;
  will-change: opacity, transform;

  @media #{$mq-not-lg} and #{$mq-gt-4-3} {
    padding-top: 0;
  }

  html.is-master-gallery-open & {
    opacity: 1;
    transform: none;
  }

  .Gallery {
    margin: 0 auto;
  }

  .Gallery-layout {
    padding: 0;
    width: 100%;
    max-width: 133vh;
  }

  .Gallery-controls {
    padding: 0;
  }

  .Picture {
    max-width: 100%;
    height: auto;
  }

  [class*="u-sizer"] {
    background-color: $color-black;
  }

  img {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
  }

  .Caption {
    margin: 1rem auto;
    width: 100%;
    max-width: $layout-fixed - $layout-fixed-gutter;

    @media #{$mq-lg} {
      font-size: 1rem !important;
      line-height: 1.625rem;

      .Caption-attribution {
        display: block;
        font-size: .8125rem !important;
      }
    }
  }
}

.MasterGallery-container {
  overflow: auto;
}

.MasterGallery-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: none;
  width: $size-control;
  height: $size-control;
  background-color: $color-black-transparent-60;
  background-image: url(master-gallery/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  vertical-align: bottom;
}
